<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td align="left"><div location="lblNamePayee" class="inline-block"></div></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtNamePayee"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblAccountNo" /></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtAccountNo"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblBankName"></div>
		<td width="10">&nbsp;</td>
		<td><span location="cbxBankName"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblBranchName"></div>
		<td width="10">&nbsp;</td>
		<td><span location="txtBranchName"/></td>
	</tr>
</table>