<table>
    <caption style="text-align:left"><b location="lblGeneralSetting"></b></caption>
	<tr>
		<td align="left">
			<div location="lblCode" class="inline-block"></div><div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtCode"/></td>
	</tr>
	<tr>
		<td align="left">
			<div location="lblDescEn" class="inline-block"></div><div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="txtDescEn"/></td>
		<td width="15">&nbsp;</td>
		<td align="left">
			<div location="lblDesc" class="inline-block"></div>
		</td>
		<td><div location="txtDesc"/></td>		
	</tr>
	<tr>
		<td align="left">
			<div location="lblStartDate" class="inline-block"></div><div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="dfStartDate"/></td>
		<td width="15">&nbsp;</td>
		<td align="left">
			<div location="lblEndDate" class="inline-block"></div><div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="dfEndDate"/></td>		
		<td width="15">&nbsp;</td>
		<td align="left">
			<div location="lblCreateDate" class="inline-block">
		</td>
		<td><div location="dfCreateDate"/></td>		
	</tr>
	<tr>
		<td align="left">
			<div location="lblProductLine" class="inline-block"></div><div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxProductLine"/></td>
		<td width="15">&nbsp;</td>
		<td align="left"><div location="lblVat" class="inline-block"></div></td>
		<td><div location="cbxVat"/></td>
	</tr>
	<tr>
		<td><div location="cbActive"/></td>
	</tr>
	
</table>