<table>	
    <caption style="text-align:left"><b location="lblRequirementSetting"></b></caption>
	<tr>
		<td align="left"><div location="lblLockSplitRule"></div></td>
		<td><div location="cbxLockSplitRule"/></td>
		<td width="15">&nbsp;</td>
		<td align="left"><div location="lblRepaymentDecimals"></div></td>
		<td><div location="txtRepaymentDecimals"/></td>
		<td width="15">&nbsp;</td>
		<td align="left"><div location="lblRepaymentRounding"></div></td>
		<td><div location="cbxRepaymentRounding"/></td>
	</tr>
</table>