<table>
    <caption style="text-align:left"><b location="lblSecuritiesSetting"></b></caption>
	<tr>
		<td align="left"><div location="lblGuarantor" class="inline-block"></div></td>
		<td><div location="cbxGuarantor"/></td>	
		<td width="15">&nbsp;</td>
		<td align="left"><div location="lblCollatoral" class="inline-block"></div></td>
		<td><div location="cbxCollatoral"/></td>
		<td width="15">&nbsp;</td>	
		<td align="left"><div location="lblReference" class="inline-block"></div></td>
		<td><div location="cbxReference"/></td>
	</tr>	
</table>