.login-bg {
    animation: 160ms ease-out 0s normal none 1 fade-in;
    background: radial-gradient(ellipse farthest-corner at center center , #4C4D4E 0%, #303131 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: opacity 300ms linear 0s;
    width: 100%;
    z-index: 1;
}
div.login-panel {
    animation: 800ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s normal none 1 move-up-100;
}
.login-panel {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 1em 1em 2em;
}
.login-panel .labels, 
.login-panel .fields {
    display: block;
    padding: 12px;
}
.login-panel .v-textfield {
    width: 160px;
}
.login-panel .v-caption-on-top .v-caption {
    padding-bottom: 0.3em;
}
.login-panel .v-captiontext {
	color: #6C737A;
    font-size: 13px;
}
.login-panel .h2 {
    color: #C4CACF;
    font-size: 20px;
    letter-spacing: -0.05em;
    line-height: 25px;
    padding: 0;
    text-align: center;
}
.login-panel .error {
    font-size: 13px;
    height: 20px;
    padding-left: 14px;
}
.v-animate-reveal {
    animation: 100ms ease-in-out 0s normal none 1 reveal;
    opacity: 1;
}
.v-animate-hide {
    animation: 300ms ease-in-out 0s normal none 1 hide;
    opacity: 0;
    z-index: 0;
}
.login .login-bg {
    opacity: 1;
}
.logout-button {
	
}