<table cellspacing="1" cellpadding="1" border="0" style="float:left">
	<tr>
		<th align="left"><div location="lblPersonal" class="inline-block" /></th>
		<th></th>
		<th width="5%"></th>
		<th align="left"><div location="lblFinacial" class="inline-block" /></th>
	</tr>
	<tr>
		<td align="left" width="140"><div location="lblTitle" class="inline-block" /></td>
		<td><div location="txtTitle"/></td>
		<td></td>
		<td align="left" width="130"><div location="lblIncomeType" class="inline-block" /></td>
		<td><div location="txtIncomeType"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblCategoryIncome" class="inline-block" /></td>
		<td><div location="txtCategoryIncome"/></td>
		<td></td>
		<td align="left"><div location="lblPrefix" class="inline-block" /></td>
		<td><div location="txtPrefix"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblFirstName" class="inline-block" /></td>
		<td><div location="txtFirstName"/></td>
		<td></td>
		<td align="left"><div location="lblCompanyName" class="inline-block" /></td>
		<td><div location="txtCompanyName"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblLastName" class="inline-block" /></td>
		<td><div location="txtLastName"/></td>
		<td></td>
		<td align="left"><div location="lblJobTitle" class="inline-block" /></td>
		<td><div location="txtJobTitle"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblNickName" class="inline-block" /></td>
		<td><div location="txtNickName"/></td>
		<td></td>
		<td rowspan="2" align="left"><div location="lblCompanyAddress" class="inline-block" /></td>
		<td rowspan="2"><div location="txtCompanyAddress"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblAge" class="inline-block" /></td>
		<td><div location="txtAge"/></td>
	</tr>
</table>
<table cellspacing="1" cellpadding="1" border="0">
	<tr>
		<th width="10%"></th>
		<th align="left"><div location="lblContact" class="inline-block" /></th>
	</tr>
	<tr>
		<td></td>
 		<td><div location="contactLayout" class="inline-block" /></td>
	</tr>
</table>