<table cellspacing="2" cellpadding="2" border="0">
	<tr>
		<td align="left" width="120"><div location="lblIDType" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="cbxIDType" /></td>
					<td width="5"></td>
					<td><div location="txtIDNumber" /></td>
				</tr>
			</table>
		</td>
		<td></td>
		<td align="left" width="120"><div location="lblExpiringDate" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="dfExpiringDate" /></td>
					<td width="5"></td>
					<td><div location="cbUndefine" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="left"><div location="lblTitle" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxTitle"/></td>
		<td></td>
		<td align="left"><div location="lblStatus" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxStatus"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblPrefix" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxprefixs"/></td>
		<td></td>
		<td align="left"><div location="lblChildren" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtNbChildren"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblFirstName" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtFirstName"/></td>
		<td></td>
		<td align="left"><div location="lblEducation" class="inline-block"/></td>
		<td><div location="cbxEducation"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblLastName" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtLastName"/></td>
		<td></td>
		<td align="left"><div location="lblHousehold" class="inline-block"/></td>
		<td><div location="txtHousehold"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblNickName" class="inline-block"/></td>
		<td><div location="txtNickName"/></td>
		<td></td>
		<td align="left"><div location="lblNationality" class="inline-block"/></td>
		<td><div location="cbxNationality"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDateOfBirth" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="dfDateOfBirth"/></td>
		<td></td>
		<td align="left"><div location="lblReligion" class="inline-block"/></td>
		<td><div location="cbxReligion"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblAge" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtAge"/></td>
		<td></td>
		<td align="left"><div location="lblSecondLanguage" class="inline-block"/></td>
		<td><div location="cbxSecondLanguage"/></td>	
	</tr>
	<tr>
		<td align="left"><div location="lblIssuingDate" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="dfIssuingDate"/></td>
	</tr>
</table>

	