<table class="row-bg-color" cellspacing="0" cellpadding="3" width="100%">
	<tr>
		<td align="left"><div location="lblContractStatus" /></td>
		<td align="right"><div location="lblContractStatusValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDueDate" /></td>
		<td align="right"><div location="lblDueDateValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblBalanceLoan" /></td>
		<td align="right"><div location="lblBalanceLoanValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblPaidRemineTerm" /></td>
		<td align="right"><div location="lblPaidRemineTermValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDPD" /></td>
		<td align="right"><div location="lblDPDValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblODM" /></td>
		<td align="right"><div location="lblODMValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblMPD" /></td>
		<td align="right"><div location="lblMPDValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblODI" /></td>
		<td align="right"><div location="lblODIValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblAmountDue" /></td>
		<td align="right"><div location="lblAmountDueValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDueInstallment" /></td>
		<td align="right"><div location="lblDueInstallmentValue" /></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblDueOthers" /></td>
		<td align="right"><div location="lblDueOthersValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblNextDueDate" /></td>
		<td align="right"><div location="lblNextDueDateValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblLatestPaymentDate" /></td>
		<td align="right"><div location="lblLatestPaymentDateValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblPayoffAmount" /></td>
		<td align="right"><div location="lblPayoffAmountValue" /></td>
	</tr>
</table>