<table class="row-bg-color" cellspacing="0" cellpadding="3" width="100%">
	<tr>
		<td align="left"><div location="lblBorrowerStatus" /></td>
		<td align="right"><div location="lblBorrowerStatusValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblBorrowerFullName" /></td>
		<td align="right"><div location="lblBorrowerFullNameValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblNumberOfReferences" /></td>
		<td align="right"><div location="lblNumberOfReferencesValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblNumberOfGuarantors" /></td>
		<td align="right"><div location="lblNumberOfGuarantorsValue" /></td>
	</tr>
</table>