<?xml version="1.0" encoding="UTF-8"?>
<beans  
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
					    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="root" class="org.restlet.ext.spring.SpringRouter">
        <property name="attachments">
            <map>
                <entry key="/contract/activate">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="create" bean="activateContractResource" />
                    </bean>
                </entry>
                <entry key="/contract/load">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="create" bean="loadContractResource" />
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

</beans>