<table cellspacing="1" cellpadding="1" border="0">
	<tr>
		<td width="120" align="left"><div location="lblContractID" class="inline-block" /></td>
		<td><div location="txtContractID"/></td>
		<td width="150" align="left"><div location="lblInterest" class="inline-block" /></td>
		<td><div location="txtInterest"/></td>
		<td width="150" align="left"><div location="lblTotalPaid" class="inline-block" /></td>
		<td><div location="txtTotalPaid"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblCurrentFlags" class="inline-block" /></td>
		<td><div location="txtCurrentFlags"/></td>
		<td align="left"><div location="lblVat" class="inline-block" /></td>
		<td><div location="txtVat"/></td>
		<td align="left"><div location="lblLatestPaymentDate" class="inline-block" /></td>
		<td><div location="dfLatestPaymentDate" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblGuarantors" class="inline-block" /></td>
		<td><div location="txtGuarantors"/></td>
		<td align="left"><div location="lblInstallment" class="inline-block" /></td>
		<td><div location="txtInstallment"/></td>
		<td align="left"><div location="lblPaidInstallment" class="inline-block" /></td>
		<td><div location="txtPaidInstallment"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDiscountRate" class="inline-block" /></td>
		<td><div location="txtDiscountRate"/></td>
		<td align="left"><div location="lblTerm" class="inline-block" /></td>
		<td><div location="txtTerm"/></td>
		<td align="left"><div location="lblDPD" class="inline-block" /></td>
		<td><div location="txtDPD"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblLoanAmount" class="inline-block" /></td>
		<td><div location="txtLoanAmount"/></td>
		<td align="left"><div location="lblFirstDueDate" class="inline-block" /></td>		
		<td><div location="dfFirstDueDate" /></td>		
		<td align="left"><div location="lblAmountPastDue" class="inline-block" /></td>
		<td><div location="txtAmountPastDue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblFinanceAmount" class="inline-block" /></td>
		<td><div location="txtFinanceAmount"/></td>
		<td align="left"><div location="lblBalanceLoan" class="inline-block" /></td>
		<td><div location="txtBalanceLoan"/></td>
		<td align="left"><div location="lblNextDueDate" class="inline-block" /></td>
		<td><div location="dfNextDueDate"/></td>
	</tr>
</table>