<table class="row-bg-color" cellspacing="0" cellpadding="3" width="100%">
	<tr>
		<td align="left"><div location="lblAssetStatus" /></td>
		<td align="right"><div location="lblAssetStatusValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblAsset" /></td>
		<td align="right"><div location="lblAssetValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblManufacturyPrice" /></td>
		<td align="right"><div location="lblManufacturingPriceValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblMarketPrice" /></td>
		<td align="right"><div location="lblMarketPriceValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblMarketPricePercentage" /></td>
		<td align="right"><div location="lblMarketPricePercentageValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblAOMTaxExpiryDate" /></td>
		<td align="right"><div location="lblAOMTaxExpiryDateValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblAOMTagExpiryDate" /></td>
		<td align="right"><div location="lblAOMTagExpiryDateValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblLostDamagedInsuranceExpiryDate" /></td>
		<td align="right"><div location="lblLostDamagedInsuranceExpiryDateValue" /></td>
	</tr>
</table>