<table cellspacing="1" cellpadding="1" border="0">
	<tr>
		<td width="120" align="left"><div location="lblApplicationID" class="inline-block" /></td>
		<td><div location="txtApplicationID"/></td>
		<td width="150" align="left"><div location="lblCheckerID" class="inline-block" /></td>
		<td><div location="txtCheckerID"/></td>
		<td width="150"  align="left"><div location="lblDealerShopID" class="inline-block" /></td>
		<td><div location="txtDealerShopID"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblApplicationDate" class="inline-block" /></td>
		<td><div location="dfApplicationDate"/></td>
		<td align="left"><div location="lblCheckerFullName" class="inline-block" /></td>
		<td><div location="txtCheckerFullName"/></td>
		<td align="left"><div location="lblDealerShopName" class="inline-block" /></td>
		<td><div location="txtDealerShopName"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblApprovalDate" class="inline-block" /></td>
		<td><div location="dfApprovalDate"/></td>
		<td align="left"><div location="lblCheckerPhoneNO" class="inline-block" /></td>
		<td><div location="txtCheckerPhoneNO"/></td>
		<td align="left"><div location="lblDealerShopPhoneNO" class="inline-block" /></td>
		<td><div location="txtDealerShopPhoneNO"/></td>
	</tr>
</table>