<table cellspacing="1" cellpadding="1">
	<tr>
		<td width="150" align="left"><div location="lblContractID"/></td>
		<td align="right" width="10px">:</td>
		<td width="150" align="left"><div location="lblContractIDValue"/></td>
		<td width="15"></td>
		<td width="150" align="left"><div location="lblLoanAmount"/></td>
		<td align="right" width="10px">:</td>
		<td width="150" align="left"><div location="lblLoanAmountValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblContractDate"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblContractDateValue"/></td>
		<td></td>
		<td align="left"><div location="lblFinanceAmount"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblFinanceAmountValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblContractStatus"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblContractStatusValue"/></td>
		<td></td>
		<td align="left"><div location="lblInterest"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblInterestValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblProductID"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblProductIDValue"/></td>
		<td></td>
		<td align="left"><div location="lblVat"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblVatValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblProductName"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblProductNameValue"/></td>
		<td></td>
		<td align="left"><div location="lblInstallment"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblInstallmentValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblMKTCampaignID"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblMKTCampaignIDValue"/></td>
		<td></td>
		<td align="left"><div location="lblTerm"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblTermValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblMKTCampaignName"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblMKTCampaignNameValue"/></td>
		<td></td>
		<td align="left"><div location="lblFirstDueDate"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblFirstDueDateValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblISRCampaignID"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblISRCampaignIDValue"/></td>
		<td></td>
		<td align="left"><div location="lblLastDueDate"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblLastDueDateValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblISRCampaignName"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblISRCampaignNameValue"/></td>
		<td></td>
		<td align="left"><div location="lblFlatRate"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblFlatRateValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblGuarantors"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblGuarantorsValue"/></td>
		<td></td>
		<td align="left"><div location="lblDownPayment"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblDownPaymentValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblBorrowerFullName"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblBorrowerFullNameValue"/></td>
		<td></td>
		<td align="left"><div location="lblPrepaidTerm"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblPrepaidTermValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblGuarantorFullName"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblGuarantorFullNameValue"/></td>
		<td></td>
		<td align="left"><div location="lblAssetID"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblAssetIDValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDiscountRate"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblDiscountRateValue"/></td>
		<td></td>
		<td align="left"><div location="lblAssetName"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblAssetNameValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblInsurancePremium"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblInsurancePremiumValue"/></td>
		<td></td>
		<td align="left"><div location="lblNetFinanceAmount"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblNetFinanceAmountValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblCommission"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblCommissionValue"/></td>
		<td></td>
		<td align="left"><div location="lblEffectiveRate"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblEffectiveRateValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblInsuranceFee"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblInsuranceFeeValue"/></td>
		<td></td>
		<td align="left"><div location="lblNetEffectiveRate"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblNetEffectiveRateValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblServiceFee"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblServiceFeeValue"/></td>
		<td></td>
		<td align="left"><div location="lblTotalNetInterest"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblTotalNetInterestValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblSubsidy"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblSubsidyValue"/></td>
	</tr>
	<tr height="10"></tr>
	<tr>
		<td align="left"><div location="lblBalanceLoan"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblBalanceLoanValue"/></td>
		<td></td>
		<td align="left"><div location="lblLastPaidDueDate"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblLastPaidDueDateValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblBalancePriciple"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblBalancePricipleValue"/></td>
		<td></td>
		<td align="left"><div location="lblNextDueDate"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblNextDueDateValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblBalanceVat"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblBalanceVatValue"/></td>
		<td></td>
		<td align="left"><div location="lblBalancePenalty"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblBalancePenaltyValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblLatestPaymentDate"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblLatestPaymentDateValue"/></td>
		<td></td>
		<td align="left"><div location="lblRemainingInstallment"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblRemainingInstallmentValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblPaidInstallment"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblPaidInstallmentValue"/></td>
		<td></td>
		<td align="left"><div location="lblInstallmentPastDue"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblInstallmentPastDueValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblCurrentTerm"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblCurrentTermValue"/></td>
		<td></td>
		<td align="left"><div location="lblAmountPastDue"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblAmountPastDueValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDPD"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblDPDValue"/></td>
		<td></td>
		<td align="left"><div location="lblMPD"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblMPDValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblTotalPaid"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblTotalPaidValue"/></td>
		<td></td>
		<td align="left"><div location="lblTotalPaidOnlyInstallment"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblTotalPaidOnlyInstallmentValue"/></td>
	</tr>
</table>