<table cellspacing="1" cellpadding="1">

	<tr>
		<td width="145"><div location="lblApplicationId"/></td>
		<td align="right" width="10px">:</td>
		<td  width="130"><span location="lblApplicantionIdValue"/></td>
		
		<td width="135"><div location="lblApplicationDate"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblApplicationDateValue"/></td>
		
		<td width="145"><div location="lblCheckerId"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblCheckerIdValue"/></td>
		
		<td width="167"><div location="lblCheckerPhoneNumber"/></td>
		<td align="right" width="10px">:</td>
		<td  width="130"><span location="lblCheckerPhoneNumberValue"/></td>
	</tr>	
	
	<tr>
		<td width="145"><div location="lblContractId"/></td>
		<td align="right" width="10px">:</td>
		<td  width="130"><span location="lblContractIdValue"/></td>
		
		<td width="135"><div location="lblContractDate"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblContractDateValue"/></td>
		
		<td width="145"><div location="lblContractStatus"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblContractStatusValue"/></td>
		
		<td width="145"><div location="lblLoanType"/></td>
		<td align="right" width="10px">:</td>
		<td  width="130"><span location="lblLoanTypeValue"/></td>
	</tr>
	
	<tr>
		<td width="145"><div location="lblProductName"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblProductNameValue"/></td>
		
		<td width="135"><div location="lblBorrowerFullName"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblBorrowerFullNameValue"/></td>
		
		<td width="160"><div location="lblGuarantor1FullName"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblGuarantor1FullNameValue"/></td>
		
		<td width="160"><div location="lblGuarantor2FullName"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblGuarantor2FullNameValue"/></td>
		
	</tr>
		
	<tr>
		<td width="145"><div location="lblMotobikePrice"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblMotorbikePriceValue"/></td>
		
		<td width="145"><div location="lblDownPayment"/></td>
		<td align="right" width="10px">:</td>
		<td  width="130"><span location="lblDownPaymentValue"/></td>
		
		<td width="135"><div location="lblFinanceAmount"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblFinanceAmountValue"/></td>
		
		<td width="145"><div location="lblInterest"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblInterestValue"/></td>
	</tr>
	<tr>
		<td width="145"><div location="lblVAT"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblVatValue"/></td>
		
		<td width="135"><div location="lblInstallment"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblInstallmentValue"/></td>
		
		<td width="145"><div location="lblTerms"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblTermsValue"/></td>
		
		<td width="145"><div location="lblPrepaidTerms"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblPrepaidTermsValue"/></td>
	</tr>
	
	<tr>
		<td width="145"><div location="lblFlatRate"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblFlatRateValue"/></td>
		
		<td width="135"><div location="lblEffectiveRate"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblEffactiveRateValue"/></td>
		
		<td width="145"><div location="lblCommission"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblCommissionValue"/></td>
		
		<td width="170"><div location="lblCommission2"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblCommission2Value"/></td>
	</tr>
	<tr>
		<td width="170"><div location="lblServiceFee"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblServiceFeeValue"/></td>
		
		<td width="250"><div location="lblInsurancePremium"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblInsurancePremiumValue"/></td>
		
		<td width="145"><div location="lblSubSidy"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblSubSidyValue"/></td>
	</tr>
	
	<tr>
		<td width="260"><div location="lblNetFinanceAmount"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblNetFinanceAmountValue"/></td>
		
		<td width="145"><div location="lblNetInterestAmount"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblNetInterestAmountValue"/></td>
		
		<td width="135"><div location="lblNetEffectiveRate"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblNetEffactiveRateValue"/></td>
		
		<td width="145"><div location="lblLoanAmount"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblLoanAmountValue"/></td>
	</tr>
		
	<tr>
		<td width="145"><div location="lblLastDueDate"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblLastDueDateValue"/></td>
		
		<td width="145"><div location="lblBrand"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblBrandValue"/></td>
		
		<td width="135"><div location="lblAsset"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblAssetValue"/></td>
		
		<td width="145"><div location="lblCC"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblCCValue"/></td>
	</tr>
	
	<tr>	
		<td width="145"><div location="lblModel"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblModelValue"/></td>
		
		<td width="145"><div location="lblSerie"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblSerieValue"/></td>
		
		<td width="135"><div location="lblYear"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblYearValue"/></td>
		
		<td width="145"><div location="lblMileage"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblMileAgeValue"/></td>
	</tr>
	<tr>
		<td width="145"><div location="lblDealerShopName"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblDealerShopNameValue"/></td>
	</tr>
</table>
