<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td><div location="lblForceQuestion" class="inline-block"/></td>
	</tr>
	<tr>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="cbForceYes" class="inline-block"></div>
					<td width="5">&nbsp;</td>
					<td><span location="lblForceYes"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="cbxForceReason" /></td>
				</tr>
				<tr>
					<td><span location="cbForceNo"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblForceNo" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		
		<td><div location="lblDisburseQuestion" class="inline-block"/></td>
	</tr>
	<tr>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="cbDisburseYes" class="inline-block"></div>
					<td width="5">&nbsp;</td>
					<td><div location="lblDisburseYes" /></td>
				</tr>
				<tr>
					<td><div location="cbDisburseNo" /></td>
					<td width="5">&nbsp;</td>
					<td><span location="lblDisburseNo"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="cbxDisburseReason" /></td>
				</tr>
			</table>
		</td>
	</tr>	
	<tr>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="lblRemark" class="inline-block"></div>
					<td width="5">&nbsp;</td>
					<td><div location="txtRemark" /></td>
				</tr>
		</td>
	</tr>
</table>
