<table cellspacing="1" cellpadding="1">
	<tr>
		<th><div location="lblContactTitle"></div></th>
	</tr>
	<tr>
		<td width="145"><div location="lblApplicationId"/></td>
		<td align="right" width="10px">:</td>
		<td  width="130"><span location="lblApplicantionIdValue"/></td>
		
		<td width="135"><div location="lblApplicationDate"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblApplicationDateValue"/></td>
		
		<td width="145"><div location="lblCheckerId"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblCheckerIdValue"/></td>
		
		<td width="167"><div location="lblCheckerPhoneNumber"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblCheckerPhoneNumberValue"/></td>
	</tr>	
	
	<tr>
		<td><div location="lblLoanType"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblLoanTypeValue"/></td>
		
		<td><div location="lblContractId"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblContractIdValue"/></td>
		
		<td><div location="lblContractDate"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblContractDateValue"/></td>
		
		<td><div location="lblContractStatus"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblContractStatusValue"/></td>
		
	</tr>
	<tr>
		<td><div location="lblProductName"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblProductNameValue"/></td>
		
		<td><div location="lblBorrowerFullName"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblBorrowerFullNameValue"/></td>
		
		<td><div location="lblGuarantor1FullName"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblGuarantor1FullNameValue"/></td>
		
		<td><div location="lblGuarantor2FullName"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblGuarantor2FullNameValue"/></td>
	</tr>
		
	<tr>
		<th><div location="lblAssetTitle"></div></th>
	</tr>
	<tr>
		<td><div location="lblBrand"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblBrandValue"/></td>
		
		<td><div location="lblModel"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblModelValue"/></td>
		
		<td><div location="lblSerie"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblSerieValue"/></td>
		
		<td><div location="lblCC"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblCCValue"/></td>
	</tr>
	
	<tr>
		<td><div location="lblYear"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblYearValue"/></td>
		
		<td><div location="lblDealerShopId"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblDealerShopIdValue"/></td>
		
		<td><div location="lblDealerShopName"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblDealerShopNameValue"/></td>
		
		<td><div location="lblDealerShopManagerPhone"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblDealerShopManagerPhoneValue"/></td>
	</tr>
	
	<tr>
		<th><div location="lblFinanceTitle"></div></th>
	</tr>
	<tr>
		<td><div location="lblLastDueDate"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblLastDueDateValue"/></td>
	
		<td><div location="lblTerms"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblTermsValue"/></td>
		
		<td><div location="lblPrepaidTerms"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblPrepaidTermsValue"/></td>
		
		<td><div location="lblFlatRate"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblFlatRateValue"/></td>
	</tr>
	
	<tr>
		<td><div location="lblEffectiveRate"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblEffactiveRateValue"/></td>
		
		<td><div location="lblNetEffectiveRate"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblNetEffactiveRateValue"/></td>
		
		<td><div location="lblInterest"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblInterestValue"/></td>
		
		<td><div location="lblNetInterestAmount"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblNetInterestAmountValue"/></td>
	</tr>
</table>
