<table cellspacing="1" cellpadding="1">
	<tr>
		<td width="145"><div location="lblApplicationId"/></td>
		<td align="right" width="10px">:</td>
		<td  width="130"><span location="lblApplicantionIdValue"/></td>
		
		<td width="135"><div location="lblApplicationDate"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblApplicationDateValue"/></td>
		
		<td width="145"><div location="lblCheckerId"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblCheckerIdValue"/></td>
		
		<td width="167"><div location="lblCheckerPhoneNumber"/></td>
		<td align="right" width="10px">:</td>
		<td width="130"><span location="lblCheckerPhoneNumberValue"/></td>
	</tr>	
	
	<tr>
		<td><div location="lblLoanType"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblLoanTypeValue"/></td>
		
		<td><div location="lblContractId"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblContractIdValue"/></td>
		
		<td><div location="lblContractDate"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblContractDateValue"/></td>
		
		<td><div location="lblProductName"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblProductNameValue"/></td>
	</tr>
	
	<tr>
		<td><div location="lblMarketingCampaignId"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblMarketingCampaignIdValue"/></td>
		<td><div location="lblMarketingCampaignName"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblMarketingCampaignNameValue"/></td>
	
		<td><div location="lblTerms"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblTermsValue"/></td>
		
		<td><div location="lblPrepaidTerms"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblPrepaidTermsValue"/></td>
	</tr>
	<tr>
		<td><div location="lblFirstDueDate"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblFirstDueDateValue"/></td>
		
		<td><div location="lblFlatRate"/></td>
		<td align="right" width="10px">:</td>
		<td><span location="lblFlatRateValue"/></td>
	</tr>
</table>
