<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td align="right"><div location="lblHouseNo"/></td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="txtHouseNo" /></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblStreet"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="txtStreet"/></td>
				</tr>
			</table>
		</td>
		<td width="50">&nbsp;</td>
		<td align="right"><div location="lblCountry" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxCountry"/></td>
		<td align="right"><div location="lblPropertyAddressType" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxPropertyAddressType"/></td>
	</tr>
	<tr>
		<td align="right">&nbsp;</td>
		<td><div location="txtLine1"/></td>
		<td width="50">&nbsp;</td>
		<td align="right"><div location="lblProvince" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxProvince"/></td>
		<td align="right"><div location="lblDistrict" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxDistrict"/></td>
	</tr>
	<tr>
		<td align="right">&nbsp;</td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="lblTimeAtAddress" class="inline-block"></div>
					<div class="inline-block requiredfield">&nbsp;*</div></td>
					<td width="10">&nbsp;</td>
					<td><div location="txtTimeAtAddressInYear"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblYears" /></td>
					<td width="10">&nbsp;</td>
					<td><div location="txtTimeAtAddressInMonth"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblMonths" /></td>
				</tr>
			</table>
		</td>
		<td width="50">&nbsp;</td>
		<td align="right"><div location="lblCommune" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxCommune"/></td>
		<td align="right"><div location="lblVillage" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxVillage"/></td>
	</tr>
</table>
