<table cellspacing="1" cellpadding="1" >
	<tr>
		<td align="left" width="120"><div location="lblBuilding" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtBuilding"/></td>
		<td align="left"><div location="lblCopyFrom" class="inline-block"/>&nbsp;</td>
		<td><div location="cbxAddress"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblMoo" class="inline-block"/>&nbsp;</td>
		<td><div location="txtMoo"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblSoi" class="inline-block"/>&nbsp;</td>
		<td><div location="txtSoi"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblSubSoi" class="inline-block"/>&nbsp;</td>
		<td><div location="txtSubSoi"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblStreet" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtStreet"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblProvince" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxProvince"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDistrict" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxDistrict"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblSubDistrict" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxSubDistrict"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblPostalCode" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtPostalCode"/></td>
	</tr>
	
</table>	