<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td align="right"><div location="lblHouseNo"/></td>
		<td colspan="3">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><span location="txtHouseNo" /></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblStreet"/></td>
					<td width="5">&nbsp;</td>
					<td><span location="txtStreet"/></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="right">&nbsp;</td>
		<td colspan="3"><span location="txtLine1"/></td>
	</tr>
	<tr>
		<td align="right">&nbsp;</td>
		<td colspan="3"><span location="txtLine2"/></td>
	</tr>
	<tr>
		<td align="right">&nbsp;</td>
		<td colspan="3">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="lblTimeAtAddress" class="inline-block"></div>
					<div class="inline-block requiredfield">&nbsp;*</div></td>
					<td width="10">&nbsp;</td>
					<td><span location="txtTimeAtAddressInYear"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblYears" /></td>
					<td width="10">&nbsp;</td>
					<td><span location="txtTimeAtAddressInMonth"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblMonths" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="right"><div location="lblCountry" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><span location="cbxCountry"/></td>
		<td align="right"><div location="lblPropertyAddressType"/></td>
		<td><span location="cbxPropertyAddressType"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblProvince" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><span location="cbxProvince"/></td>
		<td align="right"><div location="lblDistrict" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><span location="cbxDistrict"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblCommune" class="inline-block" ></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><span location="cbxCommune"/></td>
		<td align="right"><div location="lblVillage" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><span location="cbxVillage" class="display-textfield-black"/></td>
	</tr>
</table>
