<table cellspacing="3" cellpadding="2" border="0">
    <tr>
		<td align="right"><div location="lblCivility" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxCivility"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblLastNameEn" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtLastNameEn"/></td>
		<td width="10">&nbsp;</td>
		<td align="right"><div location="lblLastName" class="inline-block" ></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtLastName"/></td>
		<td width="10">&nbsp;</td>
		<td align="right"><div location="lblFirstNameEn" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtFirstNameEn"/></td>
		<td width="10">&nbsp;</td>
		<td align="right"><div location="lblFirstName" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtFirstName"/></td>
	</tr>
	<tr>
		<td align="right" class='align-right_div'><div location="lblNickName"/></td>
		<td><div location="txtNickName"/></td>
		<td width="10">&nbsp;</td>
		<td align="right" class='align-right_div'><div location="lblLastNameEnSpouse"/></td>
		<td><div location="txtLastNameEnSpouse"/></td>
		<td width="10">&nbsp;</td>
		<td align="right" class='align-right_div'><div location="lblFirstNameEnSpouse"/></td>
		<td><div location="txtFirstNameEnSpouse"/></td>
		<td width="10">&nbsp;</td>
		<td align="right" class='align-right_div'><div location="lblNumberOfChildren"/></td>
		<td><div location="txtNumberOfChildren"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblGender" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxGender"/></td>
		<td width="10">&nbsp;</td>
		<td align="right"><div location="lblMaritalStatus" class="inline-block" align="right"></div>
		<div class="inline-block requiredfield" align="right">*</div></td>
		<td><div location="cbxMaritalStatus"></div></td>
		<td width="10">&nbsp;</td>
		<td align="right"><div location="lblPlaceOfBirth" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxPlaceOfBirth"/></td>
		<td width="10">&nbsp;</td>
		<td align="right"><div location="lblDateOfBirth" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="dfDateOfBirth"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblNationality" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxNationality"/></td>
		<td width="10">&nbsp;</td>
		<td align="right"><div location="lblMobilePhone1" class="inline-block" align="right"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td ><div class="aline" location="txtMobilePhone1"></div>
			<div class="aline" location="btnAddPhoneNumber"></div>
			<div class="aline" location="btnShowPhoneNumber"></div>
		</td>
		<td width="10">&nbsp;</td>
		<td align="right" class='align-right_div'><div location="lblMobilePhone2" />
		</td>
		<td ><div location="txtMobilePhone2"/></td>
		<td width="10">&nbsp;</td>
		<td align="right" class='align-right_div'><div location="lblMobilePhoneSpouse"/></td>
		<td><div location="txtMobilePhoneSpouse"/></td>
	</tr>
	
</table>

