<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td align="right"><div location="lblMonthlyPersonalExpenses" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtMonthlyPersonalExpenses"></div>
		</td>
		<td width="30">&nbsp;</td>
		<td align="right"><div location="lblMonthlyFamilyExpenses" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtMonthlyFamilyExpenses"/></td>
		<td width="30">&nbsp;</td>
		<td align="right"><div location="lblTotalMonthlyExpenses" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtTotalMonthlyExpenses"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblDebtOtherSource" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="optDebtOtherSource"/></td>
		<td width="30">&nbsp;</td>
		<td align="right"><div location="lblTotalDebtMonthlyInstallment" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtTotalDebtMonthlyInstallment"/></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td align="right"><div location="lblConvenientVisitTime" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtConvenientVisitTime"></div>
		</td>
		<td width="30">&nbsp;</td>
		<td align="right"></td>
		<td class = "lbl_align_center" valign="bottom"><div location="lblName"/></td>
		<td width="30">&nbsp;</td>
		<td colspan="2" valign="bottom"><div location="lblTelephonNumber"/></td>

	</tr>
	<tr>
		<td align="right"><div location="lblPlaceSendingCorrespondence" class="inline-block"></div>
				<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxPlaceSendingCorrespondence"/></td>
		<td width="30">&nbsp;</td>
		<td align="right"><div location="lblChiefVillage"></div></td>
		<td colspan="2"><div location="txtChiefVillageName" class="inline-block"></div>
				<div class="requiredfield colorfield visible_required">*</div></td>
		<td colspan="2" align="left"><div location="txtChiefVillagePhoneNumber" class="inline-block"></div>
				<div class="requiredfield colorfield visible_required">*</div></td>
	</tr>
	
	<tr>
		<td align="right"><div location="lblCertifyCurrentAddress" 
				class="inline-block"></div>
				<div class="inline-block requiredfield">&nbsp;</div></td>
		<td><div location="cbxCertifyCurrentAddress"/></td>
		<td width="30">&nbsp;</td>
		<td align="right"><div location="lblDeputyChiefVillage"></div></td>
		<td colspan="2"><div location="txtDeputyChiefVillageName" class="inline-block"></div>
				<div class="requiredfield colorfield visible_required">*</div></td>
		<td colspan="2" align="left"><div location="txtDeputyChiefVillagePhoneNumber" class="inline-block"></div>
				<div class="requiredfield colorfield visible_required">*</div></td>
	</tr>
	<tr>
	<td align="right"><div location="lblCertifyIncome" 
			class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
	<td><div location="cbxCertifyIncome"/></td>
</tr>
</table>
<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td rowspan="3" valign="middle"><div location="lblDisposalIncome"/></td>
		<td align="right"><font style="font-size:11px">1</font></td>
		<td><div location="cbxRelationship1"/></td>
		<td><div class ="disableField" location="txtMonthlyIncomeMember1"/></td>
		<td width="15">&nbsp;</td>
		<td align="right"><font style="font-size:11px">4</font></td>
		<td><div location="cbxRelationship4"/></td>
		<td><div class ="disableField" location="txtMonthlyIncomeMember4"/></td>
	</tr>
	<tr>
		<td align="right"><font style="font-size:11px">2</font></td>
		<td><div location="cbxRelationship2"/></td>
		<td><div class ="disableField" location="txtMonthlyIncomeMember2"/></td>
		<td width="15">&nbsp;</td>
		<td align="right"><font style="font-size:11px">5</font></td>
		<td><div location="cbxRelationship5"/></td>
		<td><div class ="disableField" location="txtMonthlyIncomeMember5"/></td>
	</tr>
	<tr>
		<td align="right"><font style="font-size:11px">3</font></td>
		<td><div location="cbxRelationship3"/></td>
		<td><div class ="disableField" location="txtMonthlyIncomeMember3"/></td>
		<td width="15">&nbsp;</td>
		<td align="right"><font style="font-size:11px">6</font></td>
		<td><div location="cbxRelationship6"/></td>
		<td><div class ="disableField" location="txtMonthlyIncomeMember6"/></td>
	</tr>
	<tr>
		<td class='align-right'><div location="lblTotalDisposalIncome"/></td>
		<td align="right">:</td>
		<td><div location="txtValueTotalDisposalIncome"/></td>
		<td colspan="4" align="right"><div location="lblTotalFamilyMember" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td align="left"><div location="txtTotalNumberFamilyMember"/></td>
	</tr>
</table>

