<table cellspacing="2" cellpadding="2" border="0">
	<tr>
		<td align="left" width="130"><div location="lblBrand" class="inline-block" ></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxBrand"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblSeries" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxSerie"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblMarketingName" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxModel"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblAssetPrice" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtAssetPrice"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblMarketingColor" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxMarketingColor"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblChassisNo" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtChassisNo"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblEngineNo" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtEngineNo"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblTaxInvoiceNumber" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtTaxInvoiceNumber"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblName" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtName"/></td>
	</tr>
</table>