<table height="100%" cellspacing="0" cellpadding="5" style="border:1px solid black; border-collapse:collapse;">		
	<tr>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><div location="lblPaymentAtShop" /></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><div location="lblTransfered" /></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><div location="lblNoAnswer" /></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><div location="lblBusyCallBackLater" /></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><div location="lblDoesNotWantToPay" /></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><div location="lblWrongNumber" /></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><div location="lblLesseeHasDisappeared" /></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><div location="lblLostOrDamagedMotorbike" /></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><div location="lblMotorbikeAtPoliceStation" /></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><div location="lblOtherKeyIn" /></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><div location="lblTotal" /></th>
	<tr>
		<td style="border:1px solid black;">0</td>
		<td style="border:1px solid black;">0<div location=""/></td>
		<td style="border:1px solid black;">0<div location=""/></td>
		<td style="border:1px solid black;">0<div location=""/></td>
		<td style="border:1px solid black;">0<div location=""/></td>
		<td style="border:1px solid black;">0<div location=""/></td>
		<td style="border:1px solid black;">0<div location=""/></td>
		<td style="border:1px solid black;">0<div location=""/></td>
		<td style="border:1px solid black;">0<div location=""/></td>
		<td style="border:1px solid black;">0<div location=""/></td>
		<td style="border:1px solid black;">0<div location=""/></td>
	</tr>
</table>