<table height="100%" cellspacing="3" cellpadding="5" style="border:1px solid black; border-collapse:collapse;">		
	<tr>
		<th bgcolor="#e1e1e1" style="border:1px solid black;" ROWSPAN =2><b><div location="lblStaffCode" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;" ROWSPAN =2><b><div location="lblNumberOfContracts" class="inline-block" /></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;" ROWSPAN =2><b><div location="lblCalled" class="inline-block" /></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;" ROWSPAN =2><b><div location="lblCalledPercentag" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;" COLSPAN =2><b><div location="lblReturnedMotorcycle" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;" ROWSPAN =2><b><div location="lblNumberOf1stPromise" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;" ROWSPAN =2><b><div location="lblNumberOf2ndPromise" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;" ROWSPAN =2><b><div location="lblNumberOf3rdPromise" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;" ROWSPAN =2><b><div location="lblNumberOfCustomerThatPaid" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;" ROWSPAN =2><b><div location="lblNumberOfWhiteClearance" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;" ROWSPAN =2><b><div location="lblNumberOfPartialPayment" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;" COLSPAN =2><b><div location="lblWhiteClearancePercentag" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;" COLSPAN =2><b><div location="lblPartialPaymentPercentag" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;" ROWSPAN =2><b><div location="lblTotalAmountInOverdue" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;" ROWSPAN =2><b><div location="lblTotalAmountCollected" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;" COLSPAN =2><b><div location="lblCollectedPercentag" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;" COLSPAN =2><b><div location="lblAdjustedLockSplit" class="inline-block"/></b></th>
	</tr>
	<tr>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><b><div location="lblReturnedMotorcycleAccumulated" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><b><div location="lblReturnedMotorcycleToday" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><b><div location="lblWhiteClearancePercentagAccumulated" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><b><div location="lblWhiteClearancePercentagToday" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><b><div location="lblPartialPaymentPercentagAccumulated" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><b><div location="lblPartialPaymentPercentagToday" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><b><div location="lblCollectedPercentagAccumulated" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><b><div location="lblCollectedPercentagToday" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><b><div location="lblAdjustedLockSplitAccumulated" class="inline-block"/></b></th>
		<th bgcolor="#e1e1e1" style="border:1px solid black;"><b><div location="lblAdjustedLockSplitToday" class="inline-block"/></b></th>
	</tr>
	
	<tr>
		<td style="border:1px solid black;"><div location="lblTest1"/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
	</tr>
	<tr>
		<td style="border:1px solid black;"><div location="lblTest2"/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
	</tr>
	<tr>
		<td style="border:1px solid black;"><div location="lblTotal"/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
		<td style="border:1px solid black;"><div location=""/></td>
	</tr>
</table>