<table>
	<tr class="marginRight">
		<td><div location="lblDealer"></div></td>
		<td width="5">&nbsp;</td>
		<td><div location="cbxDealer"></div></td>
	</tr>
	<tr class="marginRight">
		<td><div location="lblPhoneNumber"></div></td>
		<td width="5">&nbsp;</td>
		<td><div location="txtPhoneNumber"></div></td>
		<td width="15">&nbsp;</td>
		<td><div location="lblModelOrSerie"></div></td>
		<td width="5">&nbsp;</td>
		<td><div location="cbxModelOrSerie"></div></td>
	</tr>
	<tr class="marginRight">
		<td><div location="lblRegistrationNumber"></div></td>
		<td width="5">&nbsp;</td>
		<td><div location="txtRegistrationNumber"></div></td>
		<td width="15">&nbsp;</td>
		<td><div location="lblMotobikeStatus"></div></td>
		<td width="5">&nbsp;</td>
		<td><div location="txtMotorbikeStatus"></div></td>
	</tr>
	<tr class="marginRight">
		<td><div location="lblEngineNo"></div></td>
		<td width="5">&nbsp;</td>
		<td><div location="txtEngineNumber"></div></td>
		<td width="15">&nbsp;</td>
		<td><div location="lblChassisNo"></div></td>
		<td width="5">&nbsp;</td>
		<td><div location="txtChassisNumber"></div></td>
	</tr>
</table>