<table cellspacing="1" cellpadding="1" border="0">
	<tr>
		<td align="left" width="120"><div location="lblAddressType" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxAddressType"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblTimeLive" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="txtTimeLiveInYear" /></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblYears" /></td>
					<td width="10">&nbsp;</td>
					<td><div location="txtTimeLiveInMonth"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblMonths" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="left"><div location="lblResidenceStatus" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxResidenceStatus"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblResidenceType" class="inline-block" /></td>
		<td><div location="cbxResidenceType"/></td>
	</tr>
</table>	