<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td align="right"><div location="lblPosition" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtPosition"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblEmploymentStatus" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxEmploymentStatus"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblEmploymentIndustry" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxEmploymentIndustry"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblSeniorityLevel" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxSeniorityLevel"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblEmployerName" class="inline-block"/></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtEmployerName"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblWorkPhone" class="inline-block"/>&nbsp;</td>
		<td><div location="txtWorkPhone"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblAllowCallToWorkPlace" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbAllowCallToWorkPlace"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblTimeWithEmployer" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="txtTimeWithEmployerInYear" /></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblYears" /></td>
					<td width="10">&nbsp;</td>
					<td><div location="txtTimeWithEmployerInMonth"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblMonths" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="right"><div location="lblRevenue" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtRevenue"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblAverageMonthlyAllowance"/></td>
		<td><div class ="disableField" location="txtAverageMonthlyAllowance"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblBusinessExpense"/>&nbsp;</td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="txtBusinessExpense"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblPerMonth"/></td>
				</tr>
			</table>
		</td>
	</tr>
</table>	