
<table cellspacing="3" cellpadding="3" border="0">
<tr>
		<td align="left"><div location="lblAddressType" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td width="10">&nbsp;</td>
		<td><span location="cbxAddressType"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblBuilding" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtBuilding"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblMoo" /></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtMoo"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblSoi"></div>
		<td width="10">&nbsp;</td>
		<td><span location="txtSoi"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblStreet" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td width="10">&nbsp;</td>
		<td><span location="txtStreet"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblCountry" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td width="5">&nbsp;</td>
		<td><div location="cbxCountry"/></td>			
	</tr>
	<tr>		
		<td align="left"><div location="lblProvince" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td width="5">&nbsp;</td>
		<td><div location="cbxProvince"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDistrict" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td width="5">&nbsp;</td>
		<td><div location="cbxDistrict"/></td>			
	</tr>
	<tr>
		<td align="left"><div location="lblCommune" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td width="5">&nbsp;</td>
		<td><div location="cbxCommune"/></td>	
	</tr>	
	<tr>
		<td><div location="lblPostCode"></div>
		<td width="5">&nbsp;</td>
		<td><div location="txtPostCode"/></td>		
	</tr>
</table>
<br/>