<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td align="right"><div location="lblDebtLevel" class="inline-block"></div>
		<td><div location="txtDebtLevel"/></td>
	</tr>
		<tr>
		<td align="right"><div location="lblDueDate" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxDueDate"/></td>
		<td><div location="cbDueDate"/></td>
	</tr>
		<tr>
		<td align="right"><div location="lblAssignmentDate" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxAssignmentDate"/></td>
		<td><div location="cbAllAssignmentDate"/></td>
	</tr>
		<tr>
		<td align="right"><div location="lblAssignmentHour" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxAssignmentHour"/></td>
		<td><div location="cbAllAssignmentHour"/></td>
	</tr>
</table>