<table width="90%" height="100%" cellspacing="0" cellpadding="5" style="border:0; border-collapse:collapse;">		
	<tr>
		<th style="width:10%"><div location="lblType" /></th>
		<th style="width:10%"><div location="lblNameSurname" /></th>
		<th style="width:10%"><div location="lblContactNo" /></th>
		<th style="width:10%"><div location="lblTypeOfResidence" /></th>
		<th style="width:10%"><div location="lblAddress" /></th>
		<th style="width:10%"><div location="lblFax" /></th>
		<th style="width:10%"><div location="lblEmail" /></th>
		<th style="width:10%"><div location="lblRecorder" /></th>
		<th style="width:10%"><div location="lblRecordDate" /></th>
		<th style="width:10%"><div location="lblInformer" /></th>
	</tr>
	<tr>
		<td style="width:10%"><div location="lblTypeResult" /></td>
		<td style="width:10%"><div location="lblNameSurnameResult" /></td>
		<td style="width:10%"><div location="lblContactNoResult" /></td>
		<td style="width:10%"><div location="lblTypeOfResidenceResult" /></td>
		<td style="width:10%"><div location="lblAddressResult" /></td>
		<td style="width:10%"><div location="lblFaxResult" /></td>
		<td style="width:10%"><div location="lblEmailResult" /></td>
		<td style="width:10%"><div location="lblRecorderResult" /></td>
		<td style="width:10%"><div location="lblRecordDateResult" /></td>
		<td style="width:10%"><div location="lblInformerResult" /></td>
	</tr>
</table>