<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td align="right"><div location="lblIncomeType" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxIncomeType"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblCategoryIncome" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxCategoryIncome"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblCompanyName" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtCompanyName"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblJobTitle" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtJobTitle"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblWorkingPeriod" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="txtTimeWorkingInYear" /></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblYears" /></td>
					<td width="10">&nbsp;</td>
					<td><div location="txtTimeWorkingInMonth"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblMonths" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="right"><div location="lblIncome" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtIncome"/></td>
	</tr>
</table>	