<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td align="right"><div location="lblIDType" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="cbxIDType" /></td>
					<td width="5">&nbsp;</td>
					<td><div location="txtIDNumber" /></td>
					<td width="5">&nbsp;</td>
					<td><div location="btnCheckGuarantor"/></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="right"><div location="lblGuarantorID" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtGuarantorID"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblFirstName" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtFirstName"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblLastName" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtLastName"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblDateOfBirth" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="dfDateOfBirth"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblAge" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtAge"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblPrefix" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxPrefix"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblIssuingDate" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="dfIssuingDate"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblExpiringDate" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="dfExpiringDate"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblStatus" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxStatus"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblChildren" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxChildren"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblEducation" class="inline-block"/>&nbsp;</td>
		<td><div location="cbxEducation"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblHousehold" class="inline-block"/>&nbsp;</td>
		<td><div location="txtHousehold"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblType" class="inline-block"/>&nbsp;</td>
		<td><div location="cbxType"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblReligion" class="inline-block"/>&nbsp;</td>
		<td><div location="cbxReligion"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblSecondLanguage" class="inline-block"/>&nbsp;</td>
		<td><div location="cbxSecondLanguage"/></td>
	</tr>
</table>	