<table cellspacing="1" cellpadding="1">

	<tr>
		<td><div location="lblIssueType" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td align="right" width="5px"></td>
		<td><span location="cbxIssueType"/></td>
		<td align="right" width="15px"></td>
		
		<td><div location="lblDocument1" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td align="right" width="5px"></td>
		<td><span location="cbxIssueDocument1"/></td>
		<td align="right" width="15px"></td>
		
		<td><div location="lblAdttribute"/></td>
		<td align="right" width="5px"></td>
		<td><span location="cbxIssueAttribute"/></td>
		<td align="right" width="15px"></td>
	</tr>	
	<tr>
		<td><div location="lblDocument2"/></td>
		<td align="right" width="5px"></td>
		<td><span location="cbxIssueDocument2"/></td>
		<td align="right" width="15px"></td>
		
		<td><div location="lblcomment"/></td>
		<td align="right" width="5px"></td>
		<td><span location="txtComment"/></td>
		<td align="right" width="15px"></td>
	</tr>
</table>