
<table>
	<tr>
		<td>
			<b><div location="lblPurchase" class="aline"></div></b>
			<div location="lblPurchaseValue" class="aline"></div>
		</td>
	</tr>
</table>
</br>

<table>
	<tr>
		<td valign="top">
			<table cellspacing="0" cellpadding="5" style="border:1px solid black; border-collapse:collapse;width:300px; height:120px;">
				<tr>
					<th colspan='2' class="align-center" ><b><u location="lblLeaseType"></u></b></th>
				</tr>
				<tr>
					<td align='right' location="lblAdvancePaymentPercentage"></td>
					<td align='right' location="lblAdvancePaymentPercentageValue"></td>
				</tr>
				<tr>
					<td align='right' location="lblLeaseAmount"></td>
					<td align='right' location="lblLeaseAmountValue"></td>
				</tr>
				<tr>
					<td align='right' location="lblTermMonth"></td>
					<td align='right'location="lblTermMonthValue"></td>
				</tr>
				<tr>
					<td align='right' location="lblInstallmentAmount"></td>
					<td align='right' location="lblInstallmentAmountValue"></td>
				</tr>
				<tr>
					<td align='right'>&nbsp;</td>
					<td align='right'>&nbsp;</td>
				</tr>
			</table>
		</td>
		<td valign="top">
			<table cellspacing="0" cellpadding="5" style="border:1px solid black; border-collapse:collapse;width:300px; height:120px;">
				<tr>
					<th colspan='2' class="align-center" ><b><u location="lblPeopleCharge"></u></b></th>
				</tr>
				<tr>
					<td align='right' location="lblCo"></td>
					<td align='right' location="lblCoValue"></td>
				</tr>
				<tr>
					<td align='right' location="lblPo" ></td>
					<td align='right' location="lblPoValue"></td>
				</tr>
				<tr>
					<td align='right' location="lblUw"></td>
					<td align='right' location="lblUwValue"></td>
				</tr>
				<tr>
					<td align='right' location="lblUwSupervisor"></td>
					<td align='right' location="lblUwSupervisorValue"></td>
				</tr>
				<tr>
					<td align='right' location="lblFc"></td>
					<td align='right' location="lblFcValue"></td>
				</tr>
			</table>
		</td>
		<td valign="top">
			<table cellspacing="0" cellpadding="5" style="border:1px solid black; border-collapse:collapse;width:300px; height:120px;">
				<tr>
					<th align='right'><b><u location="lblTiming"></u></b></th>
					<th align='right'><b><u location="lblTotalTimingValie"></u></b></th>
				</tr>
				<tr>
					<td align='right' location="lblTimingCo"></td>
					<td align='right' location="lblTimingCoValue"></td>
				</tr>
				<tr>
					<td align='right' location="lblTimingUw"></td>
					<td align='right' location="lblTimingUwValue"></td>
				</tr>
				<tr>
					<td align='right' location="lblTimingUwSupervisor"></td>
					<td align='right' location="lblTimingUwSupervisorValue"></td>
				</tr>
				<tr>
					<td align='right' location="lblTimingMa"></td>
					<td align='right' location="lblTimingMaValue"></td>
				</tr>
				<tr>
					<td align='right'>&nbsp;</td>
					<td align='right'>&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br/><br/>
<table cellspacing="0" cellpadding="5" style="border-collapse:collapse;">
	<tr>
		<td align='right' width='150px' class='align-right'><b location="lblName"></b></td>
		<td width='8px'></td>
		<td colspan='2' location="lblNameValue"></td>
		<td colspan='1' location="lblMaritalStatus" ></td>
		<td colspan="2" location="lblNumberOfHousehold" ></td>
		<td colspan="2" location="lblNumberOfHouseholdValue"></td>
	</tr>
	<tr>
		<td align='right' class='align-right'><b location="lblGender"></b></td>
		<td width='8px'></td>
		<td colspan='3' location="lblGenderValue"></td>
		<td colspan="2" location="lblTotalNetIncome"></td>
		<td colspan="2" location="lblTotalNetIncomeValue"></td>
	</tr>
	<tr>
		<td align='right' class='align-right'><b location="lblApplicantAge"></b></td>
		<td width='8px'></td>
		<td colspan='3' location="lblApplicantAgeValue"></td>
		<td colspan='1' location="lblPropertyAddressType"></td>
		<td colspan='2' location="lblHouseholdValue"></td>
	</tr>
	<tr>
		<td align='right' class='align-right'><b location="lblOccupation"></b></td>
		<td width='8px'></td>
		<td colspan='3' location="lblOccupationValue1"></td>
		<td colspan='6' location="lblOccupationValue2"></td>
	</tr>
	<tr>
		<td align='right' class='align-right'><b location="lblStatus"></b></td>
		<td width='8px'></td>
		<td colspan='3' location="lblStatusValue1"></td>
		<td colspan='6' location="lblStatusValue2"></td>
	</tr>
	<tr>
		<td align='right' class='align-right'><b location="lblEmploymentIndustryApplicant"></b></td>
		<td width='8px'></td>
		<td colspan='3' location="lblEmploymentIndustryApplicantValue1"></td>
		<td colspan='6' location="lblEmploymentIndustryApplicantValue2"></td>
	</tr>
	<tr>
		<td align='right' class='align-right'><b location="lblCBCReportAvailable"></b></td>
		<td width='8px'>&nbsp;</td>
		<td colspan='10' location="cbCBCReportAvailable"></td>
	</tr>
	<tr>
		<td align='right' class='align-right'><b location="lblExistingInstallments"></b></td>
		<td width='8px'></td>
		<td colspan='3' location="lblExistingInstallmentsValue"></td>
		<td colspan='6' location="lblExistingInstallmentsValue1"></td>
	</tr>	
	<tr>
		<td align='right' class='align-right'><b location="lblFieldCheck"></b></td>
		<td width='8px'>&nbsp;</td>
		<td colspan='10' location="cbFieldCheck"></td>
	</tr>
	<tr>
		<td align='right' class='align-right'><b location="lblFieldCheckRequestedByUw"></b></td>
		<td width='8px'>&nbsp;</td>
		<td colspan='10' location="fieldCheckRequestedByUwGrid"></td>
	</tr>
	<tr>
		<td align='right' class='align-right'><b location="lblCoVerificationInFc"></b></td>
		<td width='8px'>&nbsp;</td>
		<td colspan='10' location="coVerificationInFcGrid"></td>
	</tr>
	<tr>
		<td align='right' class='align-right'><b location="lblUwVerification"></b></td>
		<td width='8px'>&nbsp;</td>
		<td colspan='10' location="uwVerificationGrid"></td>
	</tr>
	<tr>
		<td align='right'></td>
		<td width='8px'></td>
		<td colspan='10'></td>
	</tr>	
	<tr>
		<td>&nbsp;</td>
		<td width='8px'></td>
		<td width='85px' class='blackborder'><b location="lblRevenue"></b></td>
		<td width='85px' class='blackborder'><b location="lblAllowance"></b></td>
		<td width='85px' class='blackborder'><b location="lblBusinessExpenses"></b></td>
		<td width='85px' class='blackborder'><b location="lblNetIncome1"></b></td>
		<td width='85px' class='blackborder'><b location="lblPersonalExpenses"></b></td>
		<td width='85px' class='blackborder'><b location="lblFamilyExpenses"></b></td>
		<td width='85px' class='blackborder'><b location="lblLiability"></b></td>
		<td width='85px' class='blackborder'><b location="lblDisposableIncome"></b></td>
		<td width='85px' class='blackborder'><b location="lblInstallment"></b></td>
		<td width='70px' class='blackborder'><b location="lblRatio"></b></td>
	</tr>
	<tr>
		<td align='right' class='align-right'><b location="lblCoInterviewInfo"></b></td>
		<td width='8px'></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantRevenu"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantAllowance"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantBusinessExpenses"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantNetIncome"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantPersonalExpenses"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantFamilyExpenses"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantDebInstallment"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantDisposableIncome"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantInstallment1"></td>
		<td align='right' width='70px' class='blackborder align-right' location="lblApplicantRatio"></td>
	</tr>
	<tr>
		<td align='right' class='align-right'><b location="lblFieldCheckEstimation"></b></td>
		<td width='8px'></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantFcRevenus"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantFcAllowance"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantFcBusinessExpenses"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantFcNetIncome"></td>
		<td align='right' width='85px' class='blackborder align-right' location='lblApplicantFcPersonalExpenses'></td>
		<td align='right' width='85px' class='blackborder align-right' location='lblApplicantFcFamilyExpenses'></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantFcDebtInstallment"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantFcDisposableIncome"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantInstallment2"></td>
		<td align='right' width='70px' class='blackborder align-right' location="lblApplicantFcRatio"></td>
	</tr>
	<tr>
		<td align='right' class='align-right'><b location="lblUwEstimation"></b></td>
		<td width='8px'></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantUwRevenus"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantUwAllowance"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantUwBusinessExpenses"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantUwNetIncome"></td>
		<td align='right' width='85px' class='blackborder align-right' location='lblApplicantUwPersonalExpenses'></td>
		<td align='right' width='85px' class='blackborder align-right' location='lblApplicantUwFamilyExpenses'></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantUwDebtInstallment"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantUwDisposableIncome"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantInstallment3"></td>
		<td align='right' width='70px' class='blackborder align-right' location="lblApplicantUwRatio"></td>
	</tr>
	<tr>
		<td align='right' class='align-right'><b location="lblCbcInfo"></b></td>
		<td width='8px'></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantCbRevenus"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantCbAllowance"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantCbBusinessExpenses"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantCbNetIncome"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantCbPersonalExpenses"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantCbFamilyExpenses"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantCbDebtInstallment"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantCbDisposableIncome"></td>
		<td align='right' width='85px' class='blackborder align-right' location="lblApplicantInstallment4"></td>
		<td align='right' width='70px' class='blackborder align-right' location="lblApplicantCbRatio"></td>
	</tr>

	<!--
	<tr>
		<td align='right' class='align-right' ><b location="lblUWCommentEstimation"></b></td>
		<td width='8px'>&nbsp;</td>
		<td colspan='9' location="lblUWCommentEstimationValue" ></td>
	</tr>
	-->
	<tr>
		<td align='right' class='align-right'><b><u location="lblEvidences"></u></b></td>
		<td width='8px'>&nbsp;</td>
		<td colspan='10'>&nbsp;</td>
	</tr>
	<tr>
		<td align='right'></td>
		<td width='8px'>&nbsp;</td>
		<td colspan='10' location="applicantDocumentsGridLayout"></td>
	</tr>
	<tr>
		<td align='right'></td>
		<td width='8px'>&nbsp;</td>
		<td colspan='10'></td>
	</tr>
	<tr>
		<td align='right' width='150px' class='align-right' rowspan="2"><b location="lblCovRecommendation"></b></td>
		<td width='8px'></td>
		<td colspan='3' location="lblApplicantReputation"></td>
		<td></td>
		<td colspan="3" location="lblGuarantorReputation" ></td>
		<td></td>
	</tr>
	<tr>
		<td width='8px'></td>
		<td colspan='3'><b location="lblCoVOpinionApplicant"></b></td>
		<td></td>
		<td colspan="3"><b location="lblCoVOpinionGuarantor"></b></td>
		<td></td>
	</tr>
	<tr>
		<td align='right' width='150px' class='align-right'><b location="lblUWQuote"></b></td>
		<td width='8px'></td>
		<td colspan='10' location="lblUWQuoteValue"></td>
	</tr>
	<tr>
		<td align='right' width='150px' class='align-right'><b location="lblUSQuote"></b></td>
		<td width='8px'></td>
		<td colspan='10' location="lblUSQuoteValue"></td>
	</tr>
</table>