<table cellspacing="3" cellpadding="3" border="0" style="float:left; display:block;">
	<tr>
		<td align="left"><div location="lblContractID" class="inline-block"/>&nbsp;</td>
		<td><div location="txtContractID"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblApplicationID" class="inline-block"/>&nbsp;</td>
		<td><div location="txtApplicationID"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblProductReference" class="inline-block"/>&nbsp;</td>
		<td><div location="txtProductReference"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblProductName" class="inline-block"/>&nbsp;</td>
		<td><div location="txtProductName"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblProductVat" class="inline-block"/>&nbsp;</td>
		<td><div location="txtProductVat"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblMarketingCampaign" class="inline-block"/>&nbsp;</td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="cbxMarketingCampaign" /></td>
					<td width="5">&nbsp;</td>
					<td><div location="txtMarketingCampaign" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="left"><div location="lblDefaultFinanceAmount" class="inline-block"/>&nbsp;</td>
		<td><div location="txtDefaultFinanceAmount"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblFinanceAmount" class="inline-block"/>&nbsp;</td>
		<td><div location="txtFinanceAmount"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDownPayment" class="inline-block"/>&nbsp;</td>
		<td><div location="txtDownPayment"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDownPaymentPercentage" class="inline-block"/>&nbsp;</td>
		<td><div location="txtDownPaymentPercentage"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblEffRate" class="inline-block"/>&nbsp;</td>
		<td><div location="txtEffRate"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblFlatRate" class="inline-block"/>&nbsp;</td>
		<td><div location="txtFlatRate"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblTerms" class="inline-block"/>&nbsp;</td>
		<td><div location="txtTerms"/></td>	
	</tr>
	<tr>
		<td align="left"><div location="lblFirstDueDate" class="inline-block"/>&nbsp;</td>
		<td><div location="dfFirstDueDate"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblLastDueDate" class="inline-block"/>&nbsp;</td>
		<td><div location="dfLastDueDate"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblInstallmentAmount" class="inline-block"/>&nbsp;</td>
		<td><div location="txtInstallmentAmount"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblVatInstallmentAmount" class="inline-block"/>&nbsp;</td>
		<td><div location="txtVatInstallmentAmount"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblNetInstallmentAmount" class="inline-block"/>&nbsp;</td>
		<td><div location="txtNetInstallmentAmount"/></td>
	</tr>
</table>
<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td></td>
		<td></td>
		<td width="50">&nbsp;</td>
		<td align="left"><div location="lblApplicationDate" class="inline-block"/>&nbsp;</td>
		<td><div location="dfApplicationDate"/></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td width="50">&nbsp;</td>
		<td align="left"><div location="lblApprovalDate" class="inline-block"/>&nbsp;</td>
		<td><div location="dfApprovalDate"/></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td width="50">&nbsp;</td>
		<td align="left"><div location="lblBookingDate" class="inline-block"/>&nbsp;</td>
		<td><div location="dfBookingDate"/></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td width="50">&nbsp;</td>
		<td align="left"><div location="lblTotalAR" class="inline-block"/>&nbsp;</td>
		<td><div location="txtTotalAR"/></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td width="50">&nbsp;</td>
		<td align="left"><div location="lblTotalUE" class="inline-block"/>&nbsp;</td>
		<td><div location="txtTotalUE"/></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td width="50">&nbsp;</td>
		<td align="left"><div location="lblTotalVat" class="inline-block"/>&nbsp;</td>
		<td><div location="txtTotalVat"/></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td width="50">&nbsp;</td>
		<td align="left"><div location="lblGuarantor" class="inline-block"/>&nbsp;</td>
		<td><div location="cbGuarantor"/></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td width="50">&nbsp;</td>
		<td align="left"><div location="lblNbGuarantor" class="inline-block"/>&nbsp;</td>
		<td><div location="txtNbGuarantor"/></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td width="50">&nbsp;</td>
		<td align="left"><div location="lblPrepaidInstallmentAtShop" class="inline-block"/>&nbsp;</td>
		<td><div location="txtPrepaidInstallmentAtShop"/></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td width="50">&nbsp;</td>
		<td align="left"><div location="lblNbPrepaidTerm" class="inline-block"/>&nbsp;</td>
		<td><div location="txtNbPrepaidTerm"/></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td width="50">&nbsp;</td>
		<td align="left"><div location="lblServiceFee" class="inline-block"/>&nbsp;</td>
		<td><div location="txtServiceFee"/></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td width="50px">&nbsp;</td>
		<td align="left"><div location="lblInsuranceFee" class="inline-block"/>&nbsp;</td>
		<td><div location="txtInsuranceFee"/></td>
	</tr>
</table>
<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td width="40px">&nbsp;</td>
		<td align="left"><div location="documentPanel" class="inline-block"></div></td>
	</tr>
</table>