<table cellspacing="3" cellpadding="2" border="0">
    <tr>
		<td align="right"><div location="lblFinancialProduct" class="inline-block"></div><div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxFinancialProduct"></div></td>
		<td width="50">&nbsp;</td>
		<td><div location="lblInvalidMessage"></div></td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td align="right" class='align-right_div'><div location="lblAssetPrice"></div></td>
		<td><div location="txtAssetPrice"></div></td>
		<td width="50">&nbsp;</td>
		<td align="right"><div location="lblFrequency" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="cbxFrequency"></div></td>
	</tr>
	<tr>
		<td align="right"><div location="lblAdvancePaymentPecentage" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtAdvancePaymentPecentage"></div></td>
		<td width="50">&nbsp;</td>
		<td align="right"><div location="lblTermInMonth" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtTermInMonth"></div></td>
	</tr>
	<tr>
		<td align="right"><div location="lblAdvancePayment" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtAdvancePayment"></div></td>
		<td width="50">&nbsp;</td>
		<td align="right"><div location="lblPeriodicInterestRate" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtPeriodicInterestRate"></div></td>
	</tr>
	<tr>
		<td align="right"><div location="lblLeaseAmount" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtLeaseAmount"></div></td>
		<td width="50">&nbsp;</td>
		<td align="right"><div location="lblInstallmentAmont"></div></td>
		<td><div location="txtInstallmentAmont"></div></td>
	</tr>
</table>