<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td align="right"><div location="lblLastNameEn"/></td>
		<td><div location="txtLastNameEn"/></td>
		<td width="20">&nbsp;</td>
		<td align="right"><div location="lblFirstNameEn"/></td>
		<td><div location="txtFirstNameEn"/></td>
		<td width="20">&nbsp;</td>
		<td align="right"><div location="lblReference"/></td>
        <td><div location="txtReference"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblDealerType"/></td>
        <td><div location="cbxDealerType"/></td>
        <td width="20">&nbsp;</td>
        <td align="right"><div location="lblDealer"/></td>
        <td><div location="cbxDealer"/></td>
		<td width="20">&nbsp;</td>
		<td align="right"><div location="lblQuotationStatus"/></td>
		<td><div location="cbxQuotationStatus"/></td>
	</tr>	
	<tr>
	    <td align="right"><div location="lblProvince"/></td>
        <td><div location="cbxProvince"/></td>
	</tr>
</table>
