<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td align="right" class='align-right_div'><div location="lblPosition"></div>
		</td>
		<td><div location="txtPosition"/></td>
		<td width="30">&nbsp;</td>
		<td align="right" class='align-right_div'><div location="lblNoMonthInYear"/></td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="txtNoMonthInYear"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblPer12"/></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="right" class='align-right_div'><div location="lblEmploymentStatus" ></div>
		</td>
		<td><div location="cbxEmploymentStatus"/></td>
		<td width="30">&nbsp;</td>
		<td align="right" class='align-right_div'><div location="lblEmploymentIndustry"/></td>
		<td><div location="cbxEmploymentIndustry"/></td>
	</tr>
	<tr>
		<td align="right" class='align-right_div'><div location="lblRevenue" ></div>
		</td>
		<td><div location="txtRevenue"/></td>
		<td width="30">&nbsp;</td>
		<td align="right" class='align-right_div'><div location="lblBusinessExpense"/></td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="txtBusinessExpense"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblPerMonth"/></td>
				</tr>
			</table>
		</td>
	</tr>
</table>	