<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td align="right">
			<div location="lblDealerType"></div>
		</td>
		<td><div location="cbxDealerType"/></td>
		<td width="50">&nbsp;</td>
		<td align="right"></td>
		<td><div location="lblLastUpdate"></div></td>
		<td width="5">&nbsp;</td>
		<td><div location="lblLastUpdateValue"/></td>
		<td></td>
	</tr>
	<tr>
		<td align="right"><div location="lblDealer" 
				class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxDealer"/></td>
        <td width="50">&nbsp;</td>
        <td align="right"></td>
        <td><div location="lblAccount"></div></td>
        <td width="5">&nbsp;</td>
        <td><div location="lblAccountName"/></td>
        <td></td>
    </tr>
</table>
<table cellspacing="3" cellpadding="3" border="0">
    <tr>
		<td align="right"></td>
		<td><b></b><div location="lblLeaflet"/></b></td>
	</tr>	
	<tr>
		<td align="right"><div location="lblLeafletDelivery"></div></td>
		<td><div location="txtLeafletDelivery"/></td>
		<td width="50">&nbsp;</td>
		<td align="right"></td>
		<td></td>
	</tr>
	<tr>
		<td align="right"></td>
		<td></td>
		<td width="50">&nbsp;</td>
		<td><div location="lblLeafletDistInsideDealer"/></td>
		<td width="50">&nbsp;</td>
		<td><div location="lblLeafletDistInTheStreet"/></td>
		<td width="50">&nbsp;</td>
		<td><div location="lblLeafletDistInFieldCheck"/></td>
		<td width="50">&nbsp;</td>
		<td><div location="lblLeafletDistInSpecialEvent"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblLeafletDistibution"></div></td>
		<td><div location="txtLeafletDistribution"/></td>
		<td width="50">&nbsp;</td>
		<td><div location="txtLeafletDistInsideDealer"/></td>
		<td width="50">&nbsp;</td>
		<td><div location="txtLeafletDistInTheStreet"/></td>
		<td width="50">&nbsp;</td>
		<td><div location="txtLeafletDistInFieldCheck"/></td>
		<td width="50">&nbsp;</td>
		<td><div location="txtLeafletDistInSpecialEvent"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblLeafletStock"></div></td>
		<td><div location="txtLeafletStock"/></td>
	</tr>
	<tr>
		<td align="right"></td>
		<td></td>
	</tr>
	<tr>
		<td align="right"></td>
		<td><b></b><div location="lblTShirt"/></b></td>
	</tr>
	<tr>
		<td align="right"><div location="lblTShirtDelivery"></div></td>
		<td><div location="txtTShirtDelivery"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblTShirtDistibution"></div></td>
		<td><div location="txtTShirtDistribution"/></td>
	</tr>
	<tr>
		<td align="right"><div location="lblTShirtStock"></div></td>
		<td><div location="txtTShirtStock"/></td>
	</tr>
</table>
