<table cellspacing="3" cellpadding="3" border="0">
	<tr>
		<td><div location="lblContractID" class="inline-block"></div></td>
		<td><div location="txtContractID"/></td>
		<td><div location="lblMarketingName" class="inline-block"></div></td>
		<td><div location="txtMarketingName"/></td>
		<td><div location="lblTerms" class="inline-block"></div></td>
		<td><div location="txtTerms"/></td>
		<td><div location="lblOverdueTerms" class="inline-block"></div></td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="txtOverdueTerms1" /></td>
					<td width="1px">&nbsp;</td>
					<td><div location="txtOverdueTerms2" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td><div location="lblApplicantionId" class="inline-block"></div></td>
		<td><div location="txtApplicantionId"/></td>
		<td><div location="lblSeries" class="inline-block"></div></td>
		<td><div location="txtSeries"/></td>
		<td><div location="lblInstallments" class="inline-block"></div></td>
		<td><div location="txtInstallments"/></td>
		<td><div location="lblPenaltyBalance" class="inline-block"></div></td>
		<td><div location="txtPenaltyBalance"/></td>
	</tr>
	<tr>
		<td><div location="lblCustomerID" class="inline-block"></div></td>
		<td><div location="txtCustomerID"/></td>
		<td><div location="lblProductName" class="inline-block"></div></td>
		<td><div location="txtProductName"/></td>
		<td><div location="lblFirstDueDate" class="inline-block"></div></td>
		<td><div location="dfFirstDueDate"/></td>
		<td><div location="lblPaidTerms" class="inline-block"></div></td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="txtPaidTerms1" /></td>
					<td width="1px"></td>
					<td><div location="txtPaidTerms2" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td><div location="lblApprovalDate" class="inline-block"></div></td>
		<td><div location="dfApprovalDate"/></td>
		<td><div location="lblCampaignName" class="inline-block"></div></td>
		<td><div location="txtCampaignName"/></td>
		<td><div location="lblLastDueDate" class="inline-block"></div></td>
		<td><div location="dfLastDueDate"/></td>
		<td><div location="lblNextAppointmentDate" class="inline-block"></div></td>
		<td><div location="dfNextAppointmentDate"/></td>
	</tr>
	<tr>
		<td><div location="lblNickName" class="inline-block"></div></td>
		<td><div location="txtNickName"/></td>
		<td><div location="lblDealer" class="inline-block"></div></td>
		<td><div location="txtDealer"/></td>
		<td><div location="lblLastPaymentDate" class="inline-block"></div></td>
		<td><div location="dfLastPaymentDate"/></td>
		<td><div location="lblLastestStaff" class="inline-block"></div></td>
		<td><div location="txtLastestStaff"/></td>
	</tr>
	<tr>
		<td><div location="lblFirstName" class="inline-block"></div></td>
		<td><div location="txtFirstName"/></td>
		<td><div location="lblPhoneNumber" class="inline-block"></div></td>
		<td><div location="txtPhoneNumber"/></td>
		<td><div location="lblPenaltyCalculate" class="inline-block"></div></td>
		<td><div location="txtPenaltyCalculate"/></td>
		<td><div location="lblCurrentStaff" class="inline-block"></div></td>
		<td><div location="txtCurrentStaff"/></td>
	</tr>
	<tr>
		<td><div location="lblLastName" class="inline-block"></div></td>
		<td><div location="txtLastName"/></td>
		<td><div location="lblRegistrationNo" class="inline-block"></div></td>
		<td><div location="txtRegistrationNo"/></td>
		<td><div location="btnCalculate" class="inline-block"></div></td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="txtCalculatedValue" /></td>
					<td width="1px"></td>
					<td><div location="lblCurrency" /></td>
				</tr>
			</table>
		</td>
		<td><div location="lblPaymentFullBlock" class="inline-block"></div></td>
		<td><div location="txtPaymentFullBlock"/></td>
	</tr>
</table>