<table height="100%" cellspacing="0" cellpadding="5" style="border:1px solid black; border-collapse:collapse;">
	<tr>
		<td style="border:1px solid black;"><div location="lblContactConfirmInfoApplicant" /></td>
		<td style="border:1px solid black;"><div location="lblContactConfirmAddressApplicant" /></td>
		<td style="border:1px solid black;"><div location="cbxContactConfirmAddress1Applicant" /></td>
		<td style="border:1px solid black;"><div location="cbxContactConfirmAddress2Applicant" /></td>
		<td style="border:1px solid black;"><div location="cbxContactConfirmAddress3Applicant" /></td>
		<td style="border:1px solid black;"><div location="lblContactConfirmCoVOpinionApplicant" /></td>
		<td style="border:1px solid black;"><div location="cbxContactConfirmCoVOpinionApplicant" /></td>
	</tr>
	<tr>
		<td style="border:1px solid black;"><div location="lblContactConfirmInfoGuarantor" /></td>
		<td style="border:1px solid black;"><div location="lblContactConfirmAddressGuarantor" /></td>
		<td style="border:1px solid black;"><div location="cbxContactConfirmAddress1Guarantor" /></td>
		<td style="border:1px solid black;"><div location="cbxContactConfirmAddress2Guarantor" /></td>
		<td style="border:1px solid black;"><div location="cbxContactConfirmAddress3Guarantor" /></td>
		<td style="border:1px solid black;"><div location="lblContactConfirmCoVOpinionGuarantor" /></td>
		<td style="border:1px solid black;"><div location="cbxContactConfirmCoVOpinionGuarantor" /></td>
	</tr>
</table>	