<table height="100%" cellspacing="0" cellpadding="5" style="border:1px solid black; border-collapse:collapse;">
	<tr>
		<td width="140px" style="border:1px solid black;"><div location="lblExistingInstallment" /></td>
		<td style="border:1px solid black;"><div location="lblExistingInstallmentScore" /></td>
	</tr>
	<tr>
		<td style="border:1px solid black;"><div location="lblCurrentAddress" /></td>
		<td style="border:1px solid black;"><div location="lblCurrentAddressScore" /></td>
	</tr>
	<tr>
		<td style="border:1px solid black;"><div location="lblMonthlyInstallment" /></td>
		<td style="border:1px solid black;"><div location="lblMonthlyInstallmentScore" /></td>
	</tr>
	<tr>
		<td style="border:1px solid black;"><div location="lblLengthService" /></td>
		<td style="border:1px solid black;"><div location="lblLengthServiceScore" /></td>
	</tr>
	<tr>
		<td style="border:1px solid black;"><div location="lblEmployerAddress" /></td>
		<td style="border:1px solid black;"><div location="lblEmployerAddressScore" /></td>
	</tr>
</table>	