<table height="100%" cellspacing="0" cellpadding="5" style="border:1px solid black; border-collapse:collapse;">		
	<tr>
		<th style="border:1px solid black;"><b><div class="align-center" location="lblGuarantor" /></b></th>
		<th style="border:1px solid black;"><b><div location="lblRevenuGuarantor" /></b></th>
		<th style="border:1px solid black;"><b><div location="lblAllowanceGuarantor" /></b></th>
		<th style="border:1px solid black;"><b><div location="lblBusinessExpensesGuarantor" /></b></th>
		<th style="border:1px solid black;"><b><div location="lblNetIncomeGuarantor" /></b></th>
		<th style="border:1px solid black;"><b><div location="lblPersonalExpensesGuarantor" /></b></th>
		<th style="border:1px solid black;"><b><div location="lblFamilyExpensesGuarantor" /></b></th>
		<th style="border:1px solid black;"><b><div location="lblLiabilityGuarantor" /></b></th>
		<th style="border:1px solid black;"><b><div location="lblDisposableIncomeGuarantor" /></b></th>
		<th style="border:1px solid black;"><b><div location="lblInstallmentGuarantor" /></b></th>
		<th style="border:1px solid black;"><b><div location="lblRatioGuarantor" /></b></th>
	</tr>
	<tr>
		<td style="border:1px solid black;"><div location="lblCoInterviewInfoGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right"  location="lblTotalRevenusGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblTotalAllowanceGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblTotalBusinessExpensesGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblTotalNetIncomeGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblTotalPersonalExpensesGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblTotalFamilyExpensesGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblLiabilityValueGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblDisposableIncomeValueGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblMonthlyInstallmentValue1Guarantor" /></td>
		<td style="border:1px solid black;"><div location="lblApplicantRatioGuarantor" /></td>
	</tr>
	<tr>
		<td style="border:1px solid black;"><div location="lblUwEstimationGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div location="txtUwRevenuGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div location="txtUwAllowanceGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div location="txtUwBusinessExpensesGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div location="txtUwNetIncomeGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div location="txtUwPersonalExpensesGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div location="txtUwFamilyExpensesGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div location="lblUwLiabilityValueGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div location="txtUwDisposableIncomeGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblMonthlyInstallmentValue2Guarantor" /></td>
		<td style="border:1px solid black;"><div location="lblUnderwriterRatioGuarantor" /></td>
	</tr>
	<tr>	
		<td style="border:1px solid black;"><div location="lblCreditBureauReportGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblTotalCbRevenusGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblTotalCbAllowanceGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblTotalCbBusinessExpensesGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblTotalCbNetIncomeGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblTotalCbPersonalExpensesGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblTotalCbFamilyExpensesGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblCbLiabilityValueGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblDisposableCbIncomeGuarantor" /></td>
		<td style="border:1px solid black; text-align:right"><div class="align-right" location="lblMonthlyInstallmentValue3Guarantor" /></td>
		<td style="border:1px solid black;"><div location="lblCbInfoRatioGuarantor" /></td>
	</tr>
</table>