<table cellspacing="1" cellpadding="1">
	<tr>
		<td align="left"><div location="lblCustomerId"/></td>
		<td align="left" width="165px"><div location="txtCustomerIDValue"/></td>
		<td align="left"><div location="lblCreationDate"/></td>
		<td align="left" width="165px"><div location="dfCreationDateValue"/></td>
		<td align="left"><div location="lblStatus"/></td>
		<td align="left"  width="165px"><div location="txtStatus"></td>
		
	</tr>
	
	<tr>
		<td align="left"><div location="lblGrade"/></td>
		<td align="left" width="165px"><div location="txtGrade"/></td>
		<td align="left" width="85px"><div location="lblCustomerType"/></td>
		<td align="left" width="165px"><div location="cbxCustomerType"/></td>
		<td align="left"><div location="lblCompanyName"/></td>
		<td align="left" width="165px"><div location="txtCompanyName"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblLegalType"/></td>
		<td align="left" width="165px"><div location="cbxLegalType"/></td>
		<td align="left"><div location="lblOpeningDate"/></td>
		<td align="left" width="165px"><div location="dfOpeningDate"/></td>
		<td align="left" width="140px"><div location="lblCompanyOwnerFullname"/></td>
		<td align="left" width="165px"><div location="txtCompanyOwnFullName"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblCompanySector"/></td>
		<td align="left" width="165px"><div location="cbxCompanySector"/></td>
		<td align="left"><div location="lblLicenceNo"/></td>
		<td align="left" width="165px"><div location="txtLicenceNo"/></td>
		<td align="left"><div location="lblCompanySize"/></td>
		<td align="left" width="165px"><div location="cbxCompanySize"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblTitle"/></td>
		<td align="left" width="165px"><div location="cbxTitle"/></td>
		<td align="left"><div location="lblPrefix"/></td>
		<td align="left" width="165px"><div location="cbxPrefix"/></td>
		<td align="left"><div location="lblFirstName"/></td>
		<td align="left" width="165px"><div location="txtFirstName"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblLastName"/></td>
		<td align="left" width="165px"><div location="txtLastName"/></td>
		<td align="left"><div location="lblMiddleName"/></td>
		<td align="left" width="165px"><div location="txtMiddleName"/></td>
		<td align="left"><div location="lblNickName"/></td>
		<td align="left" width="165px"><div location="txtNickName"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblDOB"/></td>
		<td align="left" width="165px"><div location="dfDOB"/></td>
		<td align="left"><div location="lblIDType"/></td>
		<td align="left" width="165px"><div location="cbxIDType"/></td>
		<td align="left"><div location="lblIDNumber"/></td>
		<td align="left" width="165px"><div location="txtIDNumber"/></td>
	</tr>
	
	<tr>
		<td align="left"  width="150px"><div location="lblRelationShipWithCompany"/></td>
		<td align="left" width="165px"><div location="cbxRelationShipWithCompany"/></td>
	</tr>
</table>