<table cellspacing="1" cellpadding="1" >
	<tr>
		<td align="left" width="120"><div location="lblEmploymentType" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxEmploymentType"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblEmploymentCategory" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxEmploymentCategory"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblJobPosition" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="txtJobPosition"/></td>
	</tr>

	<tr>
		<td align="left"><div location="lblCompanyName" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="txtCompanyName"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblCompanySector" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxCompanySector"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblOccupationGroup" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td><div location="cbxOccupationGroup"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblCompanySize" class="inline-block" ></td>
		<td><div location="cbxCompanySize"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblWorkingPeriod" class="inline-block"></div>
		<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div location="txtTimeWorkingInYear" /></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblYears" /></td>
					<td width="10">&nbsp;</td>
					<td><div location="txtTimeWorkingInMonth"/></td>
					<td width="5">&nbsp;</td>
					<td><div location="lblMonths" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="left"><div location="lblDepartmentPhone" class="inline-block"></div>
		<td><div location="txtDepartmentPhone"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblManagerName" class="inline-block"></div>
		<td><div location="txtManagerName"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblManagerPhone" class="inline-block"></div>
		<td><div location="txtManagerPhone"/></td>
	</tr>
</table>	