<table cellspacing="1" cellpadding="1">
	<tr>
		<td align="left"><div location="lblCustomerID"/></td>
		<td align="left"><div location="txtCustomerIDValue"/></td>
		<td align="left"><div location="lblCreationDate"/></td>
		<td align="left"><div location="dfCreationDateValue"/></td>
		<td align="left"><div location="lblAppStatus" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td align="left"><div location="cbxAppStatus"/></td>
		
	</tr>
	<tr>
		<td align="left"><div location="lblCustomerType" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td align="left"><div location="cbxCustomerTypeValue"/></td>
		<td align="left"><div location="lblTitle" class="inline-block"></div></td>
		<td align="left"><div location="cbxTitleValue"/></td>
		<td align="left"><div location="lblPrefix" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td align="left"><div location="cbxPrefixValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblFirstName" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td align="left"><div location="txtFirstNameValue"/></td>
		<td align="left"><div location="lblLastName" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td align="left"><div location="txtLastNameValue"/></td>
			<td align="left"><div location="lblMiddleName"/></td>
		<td align="left"><div location="txtMiddleNameValue"/></td>
		
	</tr>
	<tr>
		<td align="left"><div location="lblNickName"/></td>
		<td align="left"><div location="txtNickNameValue"/></td>
		<td align="left"><div location="lblDOB" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td align="left"><div location="dfDOBValue"/></td>
		<td align="left"><div location="lblAge"/></td>
		<td align="left"><div location="txtAgeValue"/></td>
		
	</tr>
		<td align="left"><div location="lblNationality"/></td>
		<td align="left"><div location="cbxNationalityValue"/></td>
		<td align="left"><div location="lblIDType" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td align="left"><div location="cbxIDTypeValue"/></td>
		<td align="left"><div location="lblIDNumber" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td align="left"><div location="txtIDNumberValue"/></td>
		
	<tr>
		<td align="left"><div location="lblIssuingDate" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td align="left"><div location="dfIssuingDateValue"/></td>
		<td align="left"><div location="lblExpiringDate" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td align="left"><div location="dfExpiringDateValue"/></td>
		<td align="left"><div location="lblEducation"/></td>
		<td align="left"><div location="cbxEducationValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblMaritalStatus" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td align="left"><div location="cbxMaritalStatusValue"/></td>
		<td align="left"><div location="lblChildren" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td align="left"><div location="txtChildrenValue"/></td>
		<td align="left"><div location="lblHouseHold"/></td>
		<td align="left"><div location="txtHouseHoldValue"/></td>
	</tr>
		
	<tr>
		<td align="left"><div location="lblPreferedLanguage"/></td>
		<td align="left"><div location="cbxPreferedLanguageValue"/></td>
		<td align="left"><div location="lblReligion"/></td>
		<td align="left"><div location="cbxReligionValue"/></td>
	</tr>
	
	<!-- Spouse -->
	
	<tr>
		<td align="left"><div location="lblSpouseTitleValue"/></td>
		<td align="left"><div location="cbxSpouseTitleValue"/></td>
		<td align="left"><div location="lblSpousePrefixValue"/></td>
		<td align="left"><div location="cbxSpousePrefixValue"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblSpouseFirstName"/></td>
		<td align="left"><div location="txtSpouseFirstNameValue"/></td>
		<td align="left"><div location="lblSpouseLastName"/></td>
		<td align="left"><div location="txtSpouseLastNameValue"/></td>
		<td align="left"><div location="lblSpouseMiddleName"/></td>
		<td align="left"><div location="txtSpouseMiddleNameValue"/></td>
		
	</tr>
	<tr>
		<td align="left"><div location="lblSpouseNickName"/></td>
		<td align="left"><div location="txtSpouseNickNameValue"/></td>
		<td align="left"><div location="lblSpouseDOB"/></td>
		<td align="left"><div location="dfSpouseDOBValue"/></td>
		<td align="left"><div location="lblSpouseAge"/></td>
		<td align="left"><div location="txtSpouseAgeValue"/></td>
	</tr>


<!-- 
	<tr>
		<td align="left"><div location="lblContactNO"/></td>
		<td align="left"><div location="txtContactNOValue"/></td>
	</tr>
-->
</table>