<table>
	<tr>
		<td valign="top" align="left">
			<table cellspacing="3" cellpadding="2" border="0">
			    <tr>
					<td align="right">
						<div location="lblCode" class="inline-block"></div>
						<div class="inline-block requiredfield">*</div>
					</td>
					<td><div location="txtCode"/></td>
				</tr>
				<tr>
					<td align="right">
						<div location="lblNameEn" class="inline-block"></div>
						<div class="inline-block requiredfield">*</div>
					</td>
					<td><div location="txtNameEn"/></td>
					
				</tr>
				<tr>
					<td align="right">
						<div location="lblName" class="inline-block"></div>
						<div class="inline-block requiredfield">*</div>
					</td>
					<td><div location="txtName"/></td>
				</tr>
				<tr>
					<td align="right">
						<div location="lblStartDate" class="inline-block"></div>
					</td>
					<td><div location="dfStartDate"/></td>
				</tr>
				<tr>
					<td align="right">
						<div location="lblDateAdded" class="inline-block"></div>
					</td>
					<td><div location="dfDateAdded"/></td>
				</tr>
				<tr>
					<td align="right">
						<div location="lblCommercialNo" class="inline-block"></div>
					</td>
					<td><div location="txtCommercialNo"/></td>
				</tr>
				<tr>
					<td align="right">
						<div location="lblSubTypeOrganization" class="inline-block"></div>
						<div class="inline-block requiredfield">*</div>
					</td>
					<td><div location="cbxSubTypeOrganization"/></td>
				</tr>
			</table>
		</td>
		<td valign="top" align="left">
			<table cellspacing="3" cellpadding="2" border="0">
				<tr><td align="left">
					<div location="lblDescEn" class="inline-block"></div>
				</td></tr>
				<tr><td rowspan="3">
					<div location="txtDescEn" ></div>
				</td></tr>
			</table>
		</td>
	</tr>
</table>