<table cellspacing="2" cellpadding="2" border="0" align="left">		
	<tr>
		<td align="left"><div location="lblSequence" class="inline-block"></div>
		<td><div location="txtSequence"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblCompanyName" class="inline-block"/></div>
		<td><div location="txtCompanyName"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblBankCode" class="inline-block"></div>
		<td><div location="txtBankCode"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblEffectiveDate" class="inline-block"/></div>
		<td><div location="dfEffectiveDate"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblCompanyAccount" class="inline-block"></div>
		<td><div location="txtCompanyAccount"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblServiceCode" class="inline-block"/></div>
		<td><div location="txtServiceCode"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblCompanyAccountOptional" class="inline-block"></div>
		<td><div location="txtCompanyAccountOptional"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblFilter" class="inline-block"/></div>
		<td><div location="txtFilter"/></td>
	</tr>
</table>