<table cellspacing="2" cellpadding="2" border="0" align="left">		
	<tr>
		<td align="left"><div location="lblLastSequence" class="inline-block"></div>
		<td><div location="txtLastSequence"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblTotalCreditTransaction" class="inline-block"/></div>
		<td><div location="txtTotalCreditTransaction"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblFooterBankCode" class="inline-block"></div>
		<td><div location="txtFooterBankCode"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblTotalTransaction" class="inline-block"/></div>
		<td><div location="txtTotalTransaction"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblFooterCompanyAccount" class="inline-block"></div>
		<td><div location="txtFooterCompanyAccount"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblFooterFilter" class="inline-block"/></div>
		<td><div location="txtFooterFilter"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblTotalDebitAmount" class="inline-block"></div>
		<td><div location="txtTotalDebitAmount"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblFixCode" class="inline-block"/></div>
		<td><div location="txtFixCode"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblTotalDebitTransaction" class="inline-block"></div>
		<td><div location="txtTotalDebitTransaction"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblTotalAmount" class="inline-block"/></div>
		<td><div location="txtTotalAmount"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblTotalCreditAmount" class="inline-block"></div>
		<td><div location="txtTotalCreditAmount"/></td>
	</tr>

</table>