<table cellspacing="2" cellpadding="2" border="0" align="left">		
	<tr>
		<td align="left"><div location="lblSequence" class="inline-block"></div>
		<td><div location="txtSequence"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblChequeNo" class="inline-block"/></div>
		<td><div location="txtChequeNo"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblBankCode" class="inline-block"></div>
		<td><div location="txtBankCode"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblAmount" class="inline-block"/></div>
		<td><div location="txtAmount"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblCompanyAccount" class="inline-block"></div>
		<td><div location="txtCompanyAccount"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblChequeBankCode" class="inline-block"/></div>
		<td><div location="txtChequeBankCode"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblPaymentDate" class="inline-block"></div>
		<td><div location="dfPaymentDate"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblChequeBranchCode" class="inline-block"/></div>
		<td><div location="txtChequeBranchCode"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblCustomerId" class="inline-block"></div>
		<td><div location="txtCustomerId"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblFilter1" class="inline-block"/></div>
		<td><div location="txtFilter1"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblCustomerName" class="inline-block"></div>
		<td><div location="txtCustomerName"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblChequeNoNew" class="inline-block"/></div>
		<td><div location="txtChequeNoNew"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblCustomerRef1" class="inline-block"></div>
		<td><div location="txtCustomerRef1"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblFilter2" class="inline-block"/></div>
		<td><div location="txtFilter2"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblCustomerRef2" class="inline-block"></div>
		<td><div location="txtCustomerRef2"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblChequeNoNew1" class="inline-block"/></div>
		<td><div location="txtChequeNoNew1"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblCustomerRef3" class="inline-block"></div>
		<td><div location="txtCustomerRef3"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblFixCode" class="inline-block"/></div>
		<td><div location="txtFixCode"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblBranchNo" class="inline-block"></div>
		<td><div location="txtBranchNo"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblPostCode" class="inline-block"/></div>
		<td><div location="txtPostCode"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblTellerNo" class="inline-block"></div>
		<td><div location="txtTellerNo"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblReceiveNo" class="inline-block"/></div>
		<td><div location="txtReceiveNo"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblTransactionKind" class="inline-block"></div>
		<td><div location="txtTransactionKind"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblPayeeFeeSameZone" class="inline-block"/></div>
		<td><div location="txtPayeeFeeSameZone"/></td>
	</tr>
	
	<tr>
		<td align="left"><div location="lblTransactionCode" class="inline-block"></div>
		<td><div location="txtTransactionCode"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblPayeeFeeDiffZone" class="inline-block"/></div>
		<td><div location="txtPayeeFeeDiffZone"/></td>
	</tr>
</table>