<table border="1px" style="border-collapse: collapse; width: 950px;">
	<tbody>
	<tr>
		<!-- <td><div location="cbBlacklisted"></div></td> -->
		<td style="width: 500px;"><b><div location="lblBlacklisted"></div></b><div location="lblBlacklistedDesc"></div></td>
		<td style="width: 250px;">
			<span location="cbBorrower"></span>
			<span location="cbGuarantor"></span>
			<span location="cbReference"></span>
		</td>
		<td><div location="cbxBlacklisted"></div></td>
	</tr>
	<tr>
		<!-- <td><div location="cbSuspiciousAge"></div></td> -->
		<td><b><div location="lblSuspiciousAge"></div></b><div location="lblSuspiciousAgeDesc"></div></td>
		<td>
			<!-- <div style="float: left;" location="lblMaxAge"></div>
			<div style="float: left; padding-left: 5px;" location="txtMaxAge"></div> -->
		</td>
		<td><div location="cbxSuspiciousAge"></div></td>
	</tr>
	</tbody>
</table>