<table border="1px" style="border-collapse: collapse; width: 950px;">
	<tbody>
	<tr>
		<!-- <td><div location="cbEmployment"></div></td> -->
		<td style="width: 500px;"><b><div location="lblEmployment"></div></b><div location="lblEmploymentDesc"></div></td>
		<td style="width: 250px;"></td>
		<td><div location="cbxEmployment"></div></td>
	</tr>
	<tr>
		<!-- <td><div location="cbNetIncome"></div></td> -->
		<td><b><div location="lblNetIncome"></div></b><div location="lblNetIncomeDesc"></div></td>
		<td>
			<div style="float: left;" location="lblLimit"></div>
			<div style="float: left; padding-left: 101px;" location="txtLimit"></div>
		</td>
		<td><div location="cbxNetIncome"></div></td>
	</tr>
	
	<tr>
		<!-- <td><div location="cbNetIncome"></div></td> -->
		<td><b><div location="lblAge"></div></b><div location="lblAgeDesc"></div></td>
		<td>
			<div><div style="float: left;" location="lblMinAge"></div><div style="float: left; padding-left: 87px;" location="txtMinAge"></div><br></div>
			<div><div style="float: left;clear: both;" location="lblMaxAge"></div><div style="float: left; padding-left: 85px;" location="txtMaxAge"></div></div>
		</td>
		<td><div location="cbxAge"></div></td>
	</tr>
	
	<tr>
		<!-- <td><div location="cbResidenceAndRegistrationAddress"></div></td> -->
		<td><b><div location="lblResidenceAndRegistrationAddress"></div></b><div location="lblResidenceAndRegistrationAddressDesc"></div></td>
		<td>
			<div style="float: left;" location="lblMinMonth"></div>
			<div style="float: left; padding-left: 67px;" location="txtMinMonth"></div>
		</td>
		<td><div location="cbxResidenceAndRegistrationAddress"></div></td>
	</tr>
	<tr>
		<!-- <td><div location="cbLoanToIncome"></div></td> -->
		<td><b><div location="lblLoanToIncome"></div></b><div location="lblLoanToIncomeDesc"></div></td>
		<td>
			<div style="float: left;" location="lblPaymentToIncomeLimit"></div>
			<div style="float: left; padding-left: 5px;" location="txtPaymentToIncomeLimit"></div>
		</td>
		<td><div location="cbxLoanToIncome"></div></td>
	</tr>
	<tr>
		<!-- <td><div location="cbNbActiveLoan"></div></td> -->
		<td><b><div location="lblNbActiveLoan"></div></b><div location="lblNbActiveLoanDesc"></div></td>
		<td>
			<div style="float: left;" location="lblMaxActiveLoan"></div>
			<div style="float: left; padding-left: 49px;" location="txtMaxActiveLoan"></div>
		</td>
		<td><div location="cbxNbActiveLoan"></div></td>
	</tr>
	<tr>
		<!-- <td><div location="cbDelinquencyCheck"></div></td> -->
		<td><b><div location="lblDelinquencyCheck"></div></b><div location="lblDelinquencyCheckDesc"></div></td>
		<td>
			<div><div style="float: left;" location="lblMinorDPD"></div><div style="float: left; padding-left: 74px;" location="txtMinorDPD"></div><br></div>
			<div><div style="float: left;clear: both;" location="lblMajorDPD"></div><div style="float: left; padding-left: 74px;" location="txtMajorDPD"></div></div>
		</td>
		<td><div location="cbxDelinquencyCheck"></div></td>
	</tr>
	<tr>
		<!-- <td><div location="cbSuspiciousAge"></div></td> -->
		<td><b><div location="lblMaximumCumulatedDebtRatio"></div></b><div location="lblMaximumCumulatedDebtRatioDesc"></div></td>
		<td></td>
		<td><div location="cbxMaximumCumulatedDebtRatio"></div></td>
	</tr>
	</tbody>
</table>