<table border="1px" style="border-collapse: collapse; width: 950px;">
	<tbody>
	<tr>
		<td><b><div location="lblAge"></div></b></td>
		<td>
			<div>
				<div style="float: left;" location="lblMinAge"></div>
				<div style="float: left; padding-left: 27px;" location="txtMinAge"></div>
				<div style="float: left; padding-left: 5px; padding-top:5px; width: 10px" location="lblMinYears"></div>
			</div><br>
			<div>
				<div style="float: left;clear: both;" location="lblMaxAge"></div>
				<div style="float: left; padding-left: 27px;" location="txtMaxAge"></div>
				<div style="float: left; padding-left: 5px; padding-top:5px; width: 10px" location="lblMaxYears"></div>
			</div>
		</td>
	</tr>
	<tr>
		<td style="width: 500px;"><b><div location="lblEmployment"></div></b></td>
		<td><div style="float: left; padding-left: 49px;" location="cbxPermenentEmployment"></div></td>
	</tr>
	<tr>
		<td><b><div location="lblNetIncome"></div></b></td>
		<td>
			<div>
				<div style="float: left;" location="lblMinNetIncome"></div>
				<div style="float: left; padding-left: 27px;" location="txtMinNetIncome"></div>
				<div style="float: left; padding-left: 5px; padding-top:5px; width: 10px" location="lblMinNetIncomeBaht"></div>
			</div><br>
			<div>
				<div style="float: left;clear: both;" location="lblMaxNetIncome"></div>
				<div style="float: left; padding-left: 27px;" location="txtMaxNetIncome"></div>
				<div style="float: left; padding-left: 5px; padding-top:5px; width: 10px" location="lblMaxNetIncomeBaht"></div>
			</div>
		</td>
	</tr>
	<tr>
		<td style="width: 500px;"><b><div location="lblHouseOwnership"></div></b></td>
		<td><div style="float: left; padding-left: 49px;" location="cbxHouseOwnership"></div></td>
	</tr>
	<tr>
		<td style="width: 500px;"><b><div location="lblOldLessee"></div></b></td>
		<td><div style="float: left; padding-left: 49px;" location="cbxOldLessee"></div></td>
	</tr>
	<tr>
		<td style="width: 500px;"><b><div location="lblGender"></div></b></td>
		<td><div style="float: left; padding-left: 49px;" location="cbxGender"></div></td>
	</tr>
	<tr>
		<td style="width: 500px;"><b><div location="lblGuarantor"></div></b></td>
		<td>
			<div style="float: left;" location="lblMinNbGuarantor"></div>
			<div style="float: left; padding-left: 20px;" location="cbxNbGuarantor"></div>
		</td>
	</tr>
	<tr>
		<td style="width: 500px;"><b><div location="lblReference"></div></b></td>
		
		<td>
			<div style="float: left;" location="lblMinNbReference"></div>
			<div style="float: left; padding-left: 20px;" location="cbxNbReference"></div>
		</td>
	</tr>
	<tr>
		<td style="width: 500px;"><b><div location="lblBlackListStatusLessee"></div></b></td>
		<td>
			<div style="float: left;" location="lblBlackListStatusLesseeControl"></div>
			<div style="float: left; padding-left: 13px;" location="cbxBlackListStatusLessee"></div>
		</td>
	</tr>
	<tr>
		<td style="width: 500px;"><b><div location="lblBlackListStatusGuarantor"></div></b></td>
		<td>
			<div style="float: left;" location="lblBlackListStatusGuarantorControl"></div>
			<div style="float: left; padding-left: 13px;" location="cbxBlackListStatusGuarantor"></div>
		</td>
	</tr>
	<tr>
		<td style="width: 500px;"><b><div location="lblBlackListStatusReference"></div></b></td>
		<td>
			<div style="float: left;" location="lblBlackListStatusReferenceControl"></div>
			<div style="float: left; padding-left: 13px;" location="cbxBlackListStatusReference"></div>
		</td>
	</tr>
	<tr>		
		<td><b><div location="lblLivingPeriod"></div></b></td>
		<td>
			<div>
				<div style="float: left; padding-left: 49px;" location="txtMinLivingPeriodYear"></div>
				<div style="float: left; padding-left: 5px; padding-top:5px; width: 10px" location="lblMinLivingPeriodYear"></div>
			</div><br>
			<div>
				<div style="float: left; padding-left: 49px; clear: both;" location="txtMinLivingPeriodMonth"></div>
				<div style="float: left; padding-left: 5px; padding-top:5px; width: 10px" location="lblMinLivingPeriodMonth"></div>
			</div>
		</td>
	</tr>
	<tr>
		<td><b><div location="lblLoanToIncome"></div></b></td>
		<td>
			<div style="float: left; padding-left: 49px;" location="txtMaxLoanToIncome"></div>
			<div style="float: left; padding-left: 5px; padding-top:5px; width: 10px" location="lblMaxLoanToIncomePercentage"></div>
		</td>
	</tr>
	<tr>
		<td><b><div location="lblNbActiveLoan"></div></b></td>
		<td>
			<div style="float: left; padding-left: 49px;" location="txtMaxActiveLoan"></div>
			<div style="float: left; padding-left: 5px; padding-top:5px; width: 10px" location="lblNbActiveLoanBaht"></div>
		</td>
	</tr>
	<tr>
		<td><b><div location="lblMinCreditScore"></div></b></td>
		<td>
			<div style="float: left; padding-left: 49px;" location="txtMinCreditScore"></div>
			<div style="float: left; padding-left: 5px; padding-top:5px; width: 10px" location="lblMinCreditScorePoints"></div>
		</td>
	</tr>
	<tr>
		<td><b><div location="lblCreditLimit"></div></b></td>
		<td>
			<div style="float: left; padding-left: 49px;" location="txtCreditLimit"></div>
			<div style="float: left; padding-left: 5px; padding-top:5px; width: 10px" location="lblCreditLimitBaht"></div>
		</td>
	</tr>
	<tr>
		<td><b><div location="lblDuplicatedPhone"></div></b></td>
		<td><div style="float: left; padding-left: 49px;" location="cbxDuplicatedPhone"></div></td>
	</tr>
	</tbody>
</table>