<table cellspacing="2" cellpadding="2" border="0" align="left">		
	<tr>
		<td align="left"><div location="lblCampaignCode" class="inline-block"></div></td>
		<td><div location="txtCampaignCode"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblCampaignDesc" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="txtCampaignDesc"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblStartDate" class="inline-block"></div>
		<div class="inline-block requiredfield">*</div></td>
		<td><div location="dfStartDate"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblEndDate" class="inline-block"></div></td>
		<td><div location="dfEndDate"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblFlatRate" class="inline-block"></div><div class="inline-block requiredfield">*</div></td>
		<td><div location="txtFlatRate"/></td>
		<td width="10"></td>
		<td align="left"><div location="lblMaxFlatRate" class="inline-block"></div><div class="inline-block requiredfield">*</div></td>
		<td><div location="txtMaxFlatRate"/></td>
	</tr>	
	<tr>
		<td align="left"><div location="lblZoneOfMarketing" class="inline-block"></div></td>
		<td><div location="cbxZoneOfMarketing"></div></td>
		<td width="10"></td>
		<td align="left"><div location="lblCreditControl" class="inline-block"></div>
			<div class="inline-block requiredfield">*</div>
		</td>
		<td><div location="cbxCreditControl"></div></td>
	</tr>
	<tr>
		<td align="left"></td>
		<td><div location="cbActive"></div></td>
		<td width="10"></td>
	</tr>
</table>