<table class="row-bg-color" cellspacing="0" cellpadding="3" width="100%">
	<tr>
		<td align="left"><div location="lblNumberOfPaymentRecieved" /></td>
		<td align="right"><div location="lblNumberOfPaymentRecievedValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblTotalAmountRecieved" /></td>
		<td align="right"><div location="lblTotalAmountRecievedValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblNumberOfBlockedPayment" /></td>
		<td align="right"><div location="lblNumberOfBlockedPaymentValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblAmountBlocked" /></td>
		<td align="right"><div location="lblAmountBlockedValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblNumberOfPendingCheques" /></td>
		<td align="right"><div location="lblNumberOfPendingChequesValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblAmountPendingCheque" /></td>
		<td align="right"><div location="lblAmountPendingChequeValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblNumberOfPendingTransfer" /></td>
		<td align="right"><div location="lblNumberOfPendingTransferValue" /></td>
	</tr>
	<tr>
		<td align="left"><div location="lblAmountPendingTransfer" /></td>
		<td align="right"><div location="lblAmountPendingTransferValue" /></td>
	</tr>
</table>