<table>
	<tr>
	<td style="padding-right: 20px; border-right: 1px solid #e1e1e1;">
		<table cellspacing="1" cellpadding="1">
			<tr>
				<td align="right"><div location="lblContractId" class="inline-block"></div>
				<td width="5">&nbsp;</td>
				<td><div location="txtContractId"/></td>
			</tr>
			
			<tr>
				<td align="right"><div location="lblDueDate" class="inline-block"></div>
				<td width="5">&nbsp;</td>
				<td>
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><div location="lblFrom" class="inline-block" /></td>
							<td width="5">&nbsp;</td>
							<td><div location="cbxDueDateFrom" /></td>
							<td width="10">&nbsp;</td>
							<td><div location="lblTo" class="inline-block" /></td>
							<td width="5">&nbsp;</td>
							<td><div location="cbxDueDateTo" /></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td width="60" align="right"><div location="lblAssignDate" class="inline-block"></div>
				<td width="5">&nbsp;</td>
				<td>
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><div location="lblAssignDateFrom" class="inline-block" /></td>
							<td width="5">&nbsp;</td>
							<td><div location="dfAssignDateFrom" /></td>
							<td width="10">&nbsp;</td>
							<td><div location="lblAssignDateTo" class="inline-block" /></td>
							<td width="5">&nbsp;</td>
							<td><div location="dfAssignDateTo" /></td>
						</tr>
					</table>
				</td>
			</tr>
			
			<tr>
				<td align="right"><div location="lblGuarantor" class="inline-block"></div>
				<td width="5">&nbsp;</td>
				<td><div location="cbxGuarantor"/></td>
			</tr>
			
			<tr>
				<td align="right"><div location="lblStage" class="inline-block"></div>
				<td width="5">&nbsp;</td>
				<td><div location="cbxStage"/></td>
			</tr>
			
			<tr>
				<td align="right"><div location="lblStatus" class="inline-block"></div>
				<td width="5">&nbsp;</td>
				<td><div location="cbxStatus"/></td>
			</tr>
			
			<tr>
				<td align="right"><div location="lblArea" class="inline-block"></div>
				<td width="5">&nbsp;</td>
				<td><div location="cbxArea"/></td>
			</tr>
			
		</table>
	</td>
	<td>	
		<table cellspacing="1" cellpadding="1">	
			<tr>
				<td align="left"><div location="lblOA" class="inline-block"></div>
				<td width="5">&nbsp;</td>
				<td><div location="cbxOA"/></td>
			</tr>
			<tr>
				<td align="left"><div location="lblClaims" class="inline-block"></div>
				<td width="5">&nbsp;</td>
				<td><div location="cbxClaims"/></td>
			</tr>
			<tr>
				<td align="left"><div location="lblLockSplit" class="inline-block"></div>
				<td width="5">&nbsp;</td>
				<td><div location="cbxLockSplit"/></td>
			</tr>
			<tr>
				<td width="100" align="left"><div location="lblAmountCollect" class="inline-block"></div>
				<td width="5">&nbsp;</td>
				<td><div location="cbxAmountCollect"/></td>
			</tr>
			
			<tr>
				<td align="left"><div location="lblStaff" class="inline-block"></div>
				<td width="5">&nbsp;</td>
				<td><div location="cbxStaff"/></td>
				<td width="5">&nbsp;</td>
				<td><div location="btnSelect"/></td>
			</tr>
			
			<tr>
				<td align="left"><div location="lblOriginationBrach" class="inline-block"></div>
				<td width="5">&nbsp;</td>
				<td><div location="cbxOriginalBrach"/></td>
			</tr>
		</table>
	</td>	
	</tr>
</table>