<table cellspacing="1" cellpadding="1" border="0">
	<tr>
		<td align="left"><div location="lblPOA"/></td>
		<td>
			<table cellspacing="1" cellpadding="1" border="0">
				<td align="left"><div location="cbPOA"/></td>
				<td width="5%"></td>
				<td align="left"><div location="btnPOAPrint"/></td>
			</table>
		</td>
	</tr>
	<tr>
		<td align="left"><div location="lblDLTForm"/></td>
		<td>
			<table cellspacing="1" cellpadding="1" border="0">
				<td align="left"><div location="cbDLTForm"/></td>
				<td width="5%"></td>
				<td align="left"><div location="btnDLTFormPrint"/></td>
			</table>
		</td>
	</tr>
	<tr>
		<td align="left"><div location="lblIDCopy"/></td>
		<td align="left"><div location="cbIDCopy"/></td>
	</tr>
</table>