<table cellspacing="1" cellpadding="1" border="0">
	<tr>
		<td align="left"><div location="lblID"/></td>
		<td align="right" width="10px">:</td>
		<td align="left" width="120"><div location="lblIDValue"/></td>
		<td align="left"><div location="lblType"/></td>
		<td align="right" width="10px">:</td>
		<td align="left" width="130"><div location="lblTypeValue"/></td>
		<td align="left"><div location="lblDealershopName"/></td>
		<td align="right" width="10px">:</td>
		<td align="left" width="140"><div location="lblDealershopNameValue"/></td>
		<td align="left"><div location="lblCommercialNO"/></td>
		<td align="right" width="10px">:</td>
		<td align="left" width="130"><div location="lblCommercialNOValue"/></td>
	</tr>
</table>