<table cellspacing="1" cellpadding="1" border="0">
	<tr>
		<td align="left"><div location="lblTitle"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblChanelOfPayment"/></td>
		<td align="right" width="10px">:</td>
		<td width="150" align="left"><div location="lblChanelOfPaymentValue"/></td>
		<td align="left"><div location="lblNamePayee"/></td>
		<td align="right" width="10px">:</td>
		<td width="150" align="left"><div location="lblNamePayeeValue"/></td>
		<td align="left"><div location="lblBankName"/></td>
		<td align="right" width="10px">:</td>
		<td width="150" align="left"><div location="lblBankNameValue"/></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td align="left"><div location="lblAccountNO"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblAccountNOValue"/></td>
		<td align="left"><div location="lblBrand"/></td>
		<td align="right" width="10px">:</td>
		<td align="left"><div location="lblBrandValue"/></td>
	</tr>
</table>