<table cellspacing="1" cellpadding="1" border="0">
	<tr>
		<td align="left"><div location="lblArrivalDate"/></td>
		<td align="left"><div location="dfArrivalDate"/></td>
		<td align="left"><div location="lblRegistrationDate"/></td>
		<td align="left"><div location="dfRegistrationDate"/></td>
		<td align="left"><div location="lblRegistrationNO"/></td>
		<td align="left"><div location="txtRegistrationNO"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblRegistrationType"/></td>
		<td align="left"><div location="txtRegistrationType"/></td>
		<td align="left"><div location="lblMotorbikeType"/></td>
		<td align="left"><div location="txtMotorbikeType"/></td>
		<td align="left"><div location="lblBookLocation"/></td>
		<td align="left"><div location="txtBookLocation"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblProvince"/></td>
		<td align="left"><div location="txtProvince"/></td>
		<td align="left"><div location="lblManufacturingYear"/></td>
		<td align="left"><div location="txtManufacturingYear"/></td>
		<td align="left"><div location="lblAOMTaxValidationDate"/></td>
		<td align="left"><div location="dfAOMTaxValidationDate"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblAOMTaxExpirationDate"/></td>
		<td align="left"><div location="dfAOMTaxExpirationDate"/></td>
		<td align="left"><div location="lblAOMStatus"/></td>
		<td align="left"><div location="txtAOMStatus"/></td>
		<td align="left"><div location="lblAOMTaxBalance"/></td>
		<td align="left"><div location="txtAOMTaxBalance"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblAOMTaxDPD"/></td>
		<td align="left"><div location="txtAOMTaxDPD"/></td>
		<td align="left"><div location="lblAOMTaxPenaltyBalance"/></td>
		<td align="left"><div location="txtAOMTaxPenaltyBalance"/></td>
		<td align="left"><div location="lblAOMTagValidationDate"/></td>
		<td align="left"><div location="dfAOMTagValidationDate"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblAOMTagExpirationDate"/></td>
		<td align="left"><div location="dfAOMTagExpirationDate"/></td>
	</tr>
</table>