<table cellspacing="1" cellpadding="1" border="0">
	<tr>
		<td align="left"><div location="lblOperation"/></td>
		<td width="120" align="left"><div location="txtOperation"/></td>
		<td align="left"><div location="lblCost"/></td>
		<td align="right" width="10px">:</td>
		<td>
			<table cellspacing="1" cellpadding="1" border="0">
				<td align="left"><div location="lblCostValue"/></td>
				<td width="5%"></td>
				<td align="left"><div location="btnCostDetail"/></td>
			</table>
		</td>
		<td align="left"><div location="lblTransferTo"/></td>
		<td align="right" width="10px">:</td>
		<td width="120" align="left"><div location="lblTransferToValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblCreationDate"/></td>
		<td align="left"><div location="dfCreationDate"/></td>
		<td align="left"><div location="lblPrice"/></td>
		<td align="right" width="10px">:</td>
		<td>
			<table cellspacing="1" cellpadding="1" border="0">
				<td width="80" align="left"><div location="lblPriceValue"/></td>
				<td width="5%"></td>
				<td align="left"><div location="btnPriceDetail"/></td>
				<td width="5%"></td>
				<td align="left"><div location="btnWaive"/></td>
			</table>
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td align="left"><div location="documentPendingPanel"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblCreationUser"/></td>
		<td align="left"><div location="txtCreationUser"/></td>
		<td align="left"><div location="lblAssignedTo"/></td>
		<td align="right" width="10px">:</td>
		<td width="80" align="left"><div location="lblAssignedToValue"/></td>
		<td></td>
		<td></td>
		<td></td>
		<td align="left"><div location="commentPanel"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDeadLine"/></td>
		<td align="left"><div location="dfDeadLine"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblStatus"/></td>
		<td align="left"><div location="txtStatus"/></td>
	</tr>
</table>