<table cellspacing="1" cellpadding="1" border="0">
	<tr>
		<td align="left"><div location="lblAssetID"/></td>
		<td align="left"><div location="txtAssetID"/></td>
		<td align="left"><div location="lblBrand"/></td>
		<td align="left"><div location="txtBrand"/></td>
		<td align="left"><div location="lblModel"/></td>
		<td align="left"><div location="txtModel"/></td>
		<td align="left"><div location="lblSeries"/></td>
		<td align="left"><div location="txtSeries"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblYear"/></td>
		<td align="left"><div location="txtYear"/></td>
		<td align="left"><div location="lblCharacteristic"/></td>
		<td align="left"><div location="txtCharacteristic"/></td>
		<td align="left"><div location="lblCC"/></td>
		<td align="left"><div location="cbxCC"/></td>
		<td align="left"><div location="lblColor"/></td>
		<td align="left"><div location="cbxColor"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblAssetCategory"/></td>
		<td align="left"><div location="cbxAssetCategory"/></td>
		<td align="left"><div location="lblEngineNO"/></td>
		<td align="left"><div location="txtEngineNO"/></td>
		<td align="left"><div location="lblChassisNO"/></td>
		<td align="left"><div location="txtChassisNO"/></td>
		<td align="left"><div location="lblRegistrationNO"/></td>
		<td align="left"><div location="txtRegistrationNO"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblManufacturingPrice"/></td>
		<td align="left"><div location="txtManufacturingPrice"/></td>
		<td align="left"><div location="lblMarketValue"/></td>
		<td align="left"><div location="txtMarketValue"/></td>
		<td align="left"><div location="lblStatus"/></td>
		<td align="left"><div location="txtStatus"/></td>
		<td align="left"><div location="lblMileage"/></td>
		<td align="left"><div location="txtMileage"/></td>
	</tr>
</table>