<table cellspacing="1" cellpadding="1">
	<tr>
		<td align="left"><div location="lblCustomerID"/></td>
		<td align="left"><div location="txtCustomerIDValue"/></td>
		<td align="left"><div location="lblTitle"/></td>
		<td align="left"><div location="cbxTitleValue"/></td>
		<td align="left"><div location="lblPrefix"/></td>
		<td align="left"><div location="cbxPrefixValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblFirstName" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td align="left"><div location="txtFirstNameValue"/></td>
		<td align="left"><div location="lblLastName" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td align="left"><div location="txtLastNameValue"/></td>
		<td align="left"><div location="lblNickName"/></td>
		<td align="left"><div location="txtNickNameValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblDOB" class="inline-block"></div>
			<div class="inline-block requiredfield">&nbsp;*</div></td>
		<td align="left"><div location="dfDOBValue"/></td>
		<td align="left"><div location="lblAge"/></td>
		<td align="left"><div location="txtAgeValue"/></td>
		<td align="left"><div location="lblNationality"/></td>
		<td align="left"><div location="cbxNationalityValue"/></td>
	</tr>
	<tr>
		<td align="left"><div location="lblIDType"/></td>
		<td align="left"><div location="cbxIDTypeValue"/></td>
		<td align="left"><div location="lblIDNumber"/></td>
		<td align="left"><div location="txtIDNumberValue"/></td>
		<td align="left"><div location="lblIssuingDate"/></td>
		<td align="left"><div location="dfIssuingDateValue"/></td>
		<td align="left"><div location="lblExpiringDate"/></td>
		<td align="left"><div location="dfExpiringDateValue"/></td>
	</tr>
</table>