<table>
	<tr>
		<td align="left">
			<div location="lblSiezed" class="inline-block"></div>
		</td>
		<td><div location="btnSizeSearch"/></td>
	</tr>
	
	<tr>
		<td align="left">
			<div location="lblSizeLocation" class="inline-block"></div>
		</td>
		<td><div location="cbxSizeLocation"/></td>
		<td width="10">&nbsp;</td>
		<td align="left">
			<div location="lblSizeDate" class="inline-block"></div>
		</td>
		<td><div location="dfSizeDate"/></td>
		<td width="10">&nbsp;</td>
		<td align="left">
			<div location="sizeOptionGroup" class="inline-block" style="display: inline-block;"></div>
		</td>
		<td><div location="dfSizeDate2"/></td>
		<td width="10">&nbsp;</td>
		<td align="left">
			<div location="lblSizeRemark" class="inline-block"></div>
		</td>
		<td><div location="txtSizeRemark"/></td>
		<td width="10">&nbsp;</td>
		<td><div location="btnSaveSize"/></td>
	</tr>
	
	<tr>
		<td align="left">
			<div location="lblDeath" class="inline-block"></div>
		</td>
		<td><div location="btnDeathOpen"/></td>
	</tr>
	
	<tr>
		<td align="left">
			<div location="lblDeathLocation" class="inline-block"></div>
		</td>
		<td><div location="cbxDeathLocation"/></td>
		<td width="10">&nbsp;</td>
		<td align="left">
			<div location="lblDeathDate" class="inline-block"></div>
		</td>
		<td><div location="dfDeathDate"/></td>
		<td width="10">&nbsp;</td>
		<td align="left">
			<div location="deathOptionGroup" class="inline-block" style="display: inline-block;"></div>
		</td>
		<td><div location="dfDeathDate2"/></td>
		<td width="10">&nbsp;</td>
		<td align="left">
			<div location="lblDeathRemark" class="inline-block"></div>
		</td>
		<td><div location="txtDeathRemark"/></td>
		<td width="10">&nbsp;</td>
		<td><div location="btnSaveDeath"/></td>
	</tr>
	
</table>